@using Fydar.AspNetCore.CSP;
@inherits LayoutComponentBase

@inject IWebHostEnvironment environment;
@inject NavigationManager NavigationManager

<ContentSecurityPolicy_Allow Directive="default-src" Sources="'self'" />
<ContentSecurityPolicy_Allow Directive="script-src" Sources="'self' 'unsafe-inline' 'wasm-unsafe-eval'" />
<ContentSecurityPolicy_Allow Directive="style-src" Sources="'self' 'unsafe-inline'" />
<ContentSecurityPolicy_Allow Directive="img-src" Sources="'self' data:" />
<ContentSecurityPolicy_Allow Directive="font-src" Sources="'self'" />
<ContentSecurityPolicy_Allow Directive="connect-src" Sources="'self'" />
<ContentSecurityPolicy_Allow Directive="frame-src" Sources="https://youtube.com https://www.youtube.com https://www.youtube-nocookie.com/" />
<ContentSecurityPolicy_Allow Directive="object-src" Sources="'none'" />
<ContentSecurityPolicy_Allow Directive="base-uri" Sources="'self'" />
<ContentSecurityPolicy_Allow Directive="form-action" Sources="'self'" />
<ContentSecurityPolicy_Allow Directive="frame-ancestors" Sources="'self'" />

@if (environment.IsDevelopment())
{
    <ContentSecurityPolicy_Allow Directive="connect-src" Sources="ws: http: ws://localhost:* wss://localhost:*" />
}

<SectionContent SectionName="layoutheadcontent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="CCBot" content="nofollow" />
    <meta name="robots" content="noai, noimageai" />
    <meta name="tdm-reservation" content="1" />
    <meta name="darkreader-lock" />
    <base href="/" />

    <!-- Preloaded resources for page -->
    <link rel="preload" href="@Assets["inter/inter.css"]" as="style" />
    <link rel="preload" href="inter/Inter-roman.var.woff2?v=3.19" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Assets["Fydar.Dev.WebApp.styles.css"]" as="style" />
    <link rel="preload" href="@Assets["site.js"]" as="script" />

    <link rel="stylesheet" href="@Assets["inter/inter.css"]" />
    <link rel="stylesheet" href="@Assets["Fydar.Dev.WebApp.styles.css"]" />

    <link rel="icon" href="@Assets["favicon.svg"]" type="image/svg+xml" />
</SectionContent>

<SectionContent SectionName="layoutbodystyle">
    <style>
        html {
            scroll-behavior: smooth;
        }

        body {
            padding: 0;
            border: 0;
            margin: 0;
            background: #161618;
            color: var(--color-text-primary);
            min-height: 100vh;
            font-weight: 300;
            line-height: 1.75;
            font-family: 'Inter', sans-serif;
            --color-text-primary: #d8d8d8;
            display: inline-block;
            min-width: 100%;
            --palette-primary-color: #e2b384;
            --palette-primary-hue: 30deg;
            --palette-primary-background1-color: #e2b38425;
        }

            body:has(main > section.fullscreen:first-child) header {
                position: fixed;
            }

        h1 {
            font-size: 1.75em;
            margin-top: 2em;
         }

        p {
            margin-block-start: 1.5em;
            margin-block-end: 1.5em;
        }

        a {
            color: rgb(158, 158, 255);
            text-decoration-color: rgba(158, 158, 255, 0.5);
        }

            a:visited {
                color: rgb(208, 173, 240);
                text-decoration-color: rgba(208, 173, 240, 0.5);
            }

        @@supports (font-variation-settings: normal) {
            body {
                font-family: 'Inter var', sans-serif;
            }
        }

        :root {
            color-scheme: dark;
            font-size: 14px;
        }

        @@media screen and (min-width: 576px) {
            :root {
                font-size: 15px;
            }
        }

        @@media screen and (min-width: 768px) {
            :root {
                font-size: 16px;
            }
        }

        ::-webkit-scrollbar {
            width: 16px;
            height: 16px;
        }

        ::-webkit-scrollbar-corner,
        ::-webkit-scrollbar-track {
            background: #161618;
        }

        ::-webkit-scrollbar-thumb {
            background: #3f4345;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #7b7b7b;
            }

            ::-webkit-scrollbar-corner,
            ::-webkit-scrollbar-track:vertical,
            ::-webkit-scrollbar-thumb:vertical {
                border-left: 1px solid #2e2e32;
            }

            ::-webkit-scrollbar-corner,
            ::-webkit-scrollbar-track:horizontal,
            ::-webkit-scrollbar-thumb:horizontal {
                border-top: 1px solid #2e2e32;
            }
    </style>
</SectionContent>

<nav>
    <div class="topbar">
        <div class="row container" data-nosnippet>
            <menu class="navbar-sitenavigation" aria-label="Site navigation">
                <li class="nav-home">
                    <a href="/">
                        <SvgSprite Link="/icons.svg?v=1#icon-fydar-round" Alt="Fydar's Icon" />
                        <span class="nav-home-label">Fydar</span>
                    </a>
                </li>
                @if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == "")
                {
					<li class="nav-page"><NavLink href="/portfolio" accesskey="p" class="active">Portfolio</NavLink><AccessKeyHint>P</AccessKeyHint></li>
                }
                else
                {
					<li class="nav-page"><NavLink href="/portfolio" accesskey="p">Portfolio</NavLink><AccessKeyHint>P</AccessKeyHint></li>
                }
				<li class="nav-page"><NavLink href="/resume" accesskey="r">Resume</NavLink><AccessKeyHint>R</AccessKeyHint></li>
				<li class="nav-page"><NavLink href="/contact" accesskey="c">Contact</NavLink><AccessKeyHint>C</AccessKeyHint></li>
            </menu>

            <menu class="navbar-externallinks" aria-label="External links">
				<li><a href="https://github.com/Fydar" target="_blank" accesskey="g"><SvgSprite Link="/icons.svg?v=1#icon-github" Alt="GitHub" /></a><AccessKeyHint>G<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></AccessKeyHint></li>
				<li><a href="https://www.linkedin.com/in/fydar" target="_blank" accesskey="l"><SvgSprite Link="/icons.svg?v=1#icon-linkedin" Alt="LinkedIn" /></a><AccessKeyHint>L<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></AccessKeyHint></li>
            </menu>
        </div>
    </div>
</nav>

<main>
    @Body
</main>

<footer>
    <section class="container" data-nosnippet>

        <menu class="externallinks" aria-label="More External links">
            <li><a href="https://github.com/Fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-github" Alt="GitHub" /></a></li>
            <li><a class="palette-linkedin" href="https://www.linkedin.com/in/fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-linkedin" Alt="LinkedIn" /></a></li>
            <li><a class="palette-discord" href="https://discord.com/users/172972361954492416" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-discord" Alt="Discord" /></a></li>
            <li><a class="palette-youtube" href="https://www.youtube.com/@@fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-youtube" Alt="YouTube" /></a></li>
            <li><a class="palette-twitch" href="https://www.twitch.tv/fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-twitch" Alt="Twitch" /></a></li>
            <li><a class="palette-twitter" href="https://twitter.com/Fydarus" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-twitter" Alt="Twitter" /></a></li>
            <li><a class="palette-itchio" href="https://fydar.itch.io/" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-itchdotio" Alt="Itch.io" /></a></li>
            <li><a href="https://assetstore.unity.com/publishers/13236" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-unity" Alt="Unity Asset Store" /></a></li>
            <li><a class="palette-opencollective" href="https://opencollective.com/fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-opencollective" Alt="OpenCollective" /></a></li>
        </menu>

        <p class="notice">Website created by Fydar using ASP.NET Core with Blazor.</p>
        <p class="copyright">Copyright © 2025 Fydar</p>

    </section>
</footer>

<script src="@Assets["site.js"]"></script>
