@layout DefaultLayout
@page "/portfolio/mywebsite"
@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "My Website - Fydar",
        Description = "Find out how I created this website.",
        CanonicalUrl = "https://fydar.dev/portfolio/mywebsite",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/header.webp",
                Alt = "A portrait of Fydar in an anime art style."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "Portfolio",
                Item = "https://fydar.dev/portfolio"
            },
            new LinkDataBreadcrumbListItem()
            {
                Name = "My Website",
                Item = "https://fydar.dev/portfolio/mywebsite"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<article class="page-mywebsite">

    <div class="container">
        <Block_ArticleHeader>
            <h1 data-nosnippet>My Website</h1>
        </Block_ArticleHeader>

        <Block_ArticleIntroduction>
            <Sidebar>
                <Block_PillCloud>
                    <Pill_Backend />
                    <Pill_CSharp />
                </Block_PillCloud>

                <p>@openGraphModel.Description.Default</p>

                <menu class="externallinks" aria-label="Project External links">
                    <li><a href="https://github.com/fydar/fydar.dev" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-github" Alt="GitHub" /></a></li>
                </menu>

                <ShareLink Url="@openGraphModel.CanonicalUrl.Html" />
            </Sidebar>
            <Container>
            </Container>
        </Block_ArticleIntroduction>

        <Block_ArticleOutlined>
            <Sidebar>
                <aside>
                    <Block_TableOfContents />
                </aside>
            </Sidebar>
            <Content>

                <OutlineSection Id="pagespeed-insights" LinkName="PageSpeed Insights">
                    <Block_ArticleHeading>
                        <img class="media" decoding="async" src="@Assets["media/mywebsite/logo-google-pagespeed-insights.svg"]" alt="The logo for Google PageSpeed Insights." />
                        <hgroup>
                            <p>Site Optimizations and</p>
                            <h2>PageSpeed Insights</h2>
                        </hgroup>
                    </Block_ArticleHeading>

                    <p>Using <a href="https://pagespeed.web.dev/analysis?url=https%3A%2F%2Ffydar.dev%2F" target="_blank"><b>PageSpeed Insights</b><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a> allowed me to identify issues with my website, and after much iteration I reached 100% on all 4 statistics.</p>

                    <Block_PageSpeedInsights />

                    <Block_Callout>
                        <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                        <ChildContent>My website is optimized for the best user experience.</ChildContent>
                    </Block_Callout>
                </OutlineSection>

                <OutlineSection Id="deterministic-simulation" LinkName="Designing for Print">
                    <Block_ArticleHeading>
                        <hgroup>
                            <p>HTML and CSS</p>
                            <h2>Designing for Print</h2>
                        </hgroup>
                    </Block_ArticleHeading>

                    <p>My <a href="/resume">Resume page</a> is designed to be printed using either the Chromium CLI or the in-browser print dialogue.</p>

                    <figure class="figure-image">
                        <a href="/resume">
                            <picture>
                                <img decoding="async" loading="lazy" src="@Assets["media/mywebsite/resume-banner.webp"]" alt="Printed pages from my resume." style="filter: brightness(0.95);" />
                            </picture>
                        </a>
                    </figure>

                    <p><b>Why is this a useful skill to have?</b> Well, there are a ton of reasons why you might need to automate the creation of PDF files. One that I've encountered in my career is producing PDF reports for the purposes fulfilling <b>GDPR Subject Access</b> requests.</p>

                    <ul>
                        <li>
                            By using <b>CSS Media Queries</b> I can change the appearance of the web page depending on whether it's being printed or viewed on a screen.
                        </li>
                        <li>
                            By using <b>HTML tables and CSS counters</b>, I can create custom headers and footers with page numberings which automatically populate themselves on every page being printed.
                        </li>
                    </ul>

                    <p>Other use cases for such automated PDF creation may include <b>automated testing reports</b>, <b>automated documentation</b>, and <b>automated invoices</b>.</p>
                </OutlineSection>

            </Content>
        </Block_ArticleOutlined>
    </div>
</article>
