@layout DefaultLayout
@page "/portfolio/raidhealersimulator"
@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "Raid Healer Simulator - Fydar",
        Description = "The simulation experience of what it’s like to be a healer in an MMORPG raid, complete with a variety of abilities and a challenging boss battle.",
        CanonicalUrl = "https://fydar.dev/portfolio/raidhealersimulator",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/raidhealersimulator/social.webp",
                Alt = "Promotional material for the game 'Raid Healer Simulator'."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "Portfolio",
                Item = "https://fydar.dev/portfolio"
            },
            new LinkDataBreadcrumbListItem()
            {
                Name = "Raid Healer Simulator",
                Item = "https://fydar.dev/portfolio/raidhealersimulator"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">
        <picture class="parallax-layer" style="--parallax-multiplier: 0.5; background-color: #17181c;">
            <img src="@Assets["media/raidhealersimulator/background.webp"]" style="top: 52px; height: calc(100% - 56px); object-position: left;" />
        </picture>
    </div>

    <div class="fullscreen-footer">
        <div class="fullscreen-footer-container container container-wide">
            <picture>
                <img class="titlecard" src="@Assets["media/raidhealersimulator/titlecard.svg"]" alt="Title card for the game 'Raid Healer Simulator'." />
            </picture>

            <div class="titlerow">
                <div class="flexible-space"></div>
                <SteamPlayButton href="/play/raidhealersimulator">Play in Browser</SteamPlayButton>
            </div>
        </div>
    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #00ffcc1a 0%, #7f893230 75%, #3d270c47 100%), url(media/noise.svg);">
    </div>
</div>

<section class="container container-wide" data-nosnippet>
    <h1>Raid Healer Simulator</h1>
</section>

<aside class="project-summary">
    <section>
        <img class="project-featuredimage" src="@Assets["media/raidhealersimulator/social.webp"]" alt="Promotional material for the game 'Raid Healer Simulator'." />

        <PillCloud>
            <Pill_GameJam />
            <Pill_Unity />
            <Pill_CSharp />
        </PillCloud>

        <p>@openGraphModel.Description.Default</p>

        <menu class="externallinks" aria-label="Project External links">
            <li><a href="https://github.com/fydar/RaidHealerSimulator" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-github" Alt="GitHub" /></a></li>
            <li><a class="palette-youtube" href="https://youtu.be/wZhdUXI0Wyg" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-youtube" Alt="YouTube" /></a></li>
        </menu>

        <ShareLink Url="@openGraphModel.CanonicalUrl.Html" />
    </section>
</aside>

<section class="container">
    <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/wZhdUXI0Wyg?si=ysPQ_7EYl2AkUYx0" />
</section>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="spell-system">
            <Prefix>Implementing the </Prefix>
            <Text>Spell System</Text>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>
        
        <Heading Level="2" Identifier="soundtrack">
            <Prefix>Composing the</Prefix>
            <Text>Soundtrack</Text>
            <Content>

                <p>A composed a piece for the background music that's slow and mournful.</p>

                <figure class="figure-image" style="width: 100%; background: #2727273b;">
                    <picture>
                        <img src="@Assets["media/raidhealersimulator/raidhealersimulator-score.svg"]" alt="The score for 'Sonar' composed for Raid Healer Simulator." loading="lazy" />
                    </picture>
                    <figcaption>The score for 'Sonar' composed for Raid Healer Simulator.</figcaption>
                </figure>
                
                <FigureAudio DefaultVolume="0.125">
                    <TrackName><b>Track 1:</b> Background Music</TrackName>
                    <Description>
                        <p>by Fydar</p>
                    </Description>
                    <AlbumCover>
                        <img src="@Assets["media/raidhealersimulator/card.webp"]" alt="A screenshot from Raid Healer Simulator." loading="lazy" />
                    </AlbumCover>
                    <Sources>
                        <source src="@Assets["media/raidhealersimulator/raidhealersimulator-sonar.ogg"]" type="audio/ogg">
                        <source src="@Assets["media/raidhealersimulator/raidhealersimulator-sonar.mp3"]" type="audio/mpeg">
                    </Sources>
                </FigureAudio>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="user-feedback">
            <Prefix>Analysing the</Prefix>
            <Text>User Feedback</Text>
            <Content>

                <p>As a part of Ludum Dare, I submitted my game to the <a href="https://ldjam.com/events/ludum-dare/46/$195962" target="_blank">project Ludum Dare page<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a> for feedback. The community was incredibly supportive of the project.</p>

                <p>Below is a summary of the user feedback left on the project page.</p>

                <p>Despite some difficulty issues, the game was well-received for its humour, accurate representation of healing, and good use of the theme.</p>

                <h3>Positives</h3>

                <Callout>
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>
                        <p><b>Accurate representation of healing</b></p>
                        <p>Many players commented that the game accurately captured the experience of healing in an MMO, including the stress, communication with teammates, and difficulty.</p>
                    </ChildContent>
                </Callout>

                <Callout>
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>
                        <p><b>Great use of the theme</b></p>
                        <p>Players appreciated the intro sequence and chat mechanics that added to the MMO feel.</p>
                    </ChildContent>
                </Callout>

                <Callout>
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>
                        <p><b>Great game concept</b></p>
                        <p>The core idea of the game was well-received and relatable.</p>
                    </ChildContent>
                </Callout>

                <Callout>
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>
                        <p><b>Great use of humour</b></p>
                        <p>The chat messages provided humour for many users.</p>
                    </ChildContent>
                </Callout>

                <Callout>
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>
                        <p><b>Very polished</b></p>
                        <p>Players liked the polished aspects of the game, such as the HUD and chat functionality.</p>
                    </ChildContent>
                </Callout>

                <h3>Negatives</h3>

                <Callout Type="danger">
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>
                        <p><b>Extreme difficulty</b></p>
                        <p>The game was considered too difficult by many players, especially for those unfamiliar with MMOs.</p>
                    </ChildContent>
                </Callout>

                <Callout Type="danger">
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>
                        <p><b>Lack of in-game explanations</b></p>
                        <p>Players found it hard to understand what abilities did due to the lack of tooltips or in-game explanations.</p>
                    </ChildContent>
                </Callout>

                <Callout Type="danger">
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>
                        <p><b>Lack of visual feedback</b></p>
                        <p>Some players wished for more visual feedback on the effects of their spells.</p>
                    </ChildContent>
                </Callout>

            </Content>
        </Heading>

    </section>
</HeadingScope>
