@layout DefaultLayout
@page "/portfolio/sofarfromhome"
@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "So Far From Home - Fydar",
        Description = "Searching between the sofa cushions for a missing key, but what else is down there?",
        CanonicalUrl = "https://fydar.dev/play/sofarfromhome",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/sofarfromhome/social.webp",
                Alt = "Promotional material for the game 'So Far From Home'."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "Portfolio",
                Item = "https://fydar.dev/portfolio"
            },
            new LinkDataBreadcrumbListItem()
            {
                Name = "So Far From Home",
                Item = "https://fydar.dev/portfolio/sofarfromhome"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<article class="page-sofarfromhome">

    <div class="fullscreen" data-nosnippet>
        <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">
            <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
                <img decoding="async" src="@Assets["media/sofarfromhome/background.webp"]" />
            </picture>
        </div>

        <div class="fullscreen-footer">
            <div class="container">
                <picture>
                    <img decoding="async" class="titlecard" src="@Assets["media/sofarfromhome/titlecard.svg"]" alt="Title card for the game 'So Far From Home'." />
                </picture>

                <div class="titlerow">
                    <div class="flexible-space"></div>
                    <SteamPlayButton href="/play/sofarfromhome">Play in Browser</SteamPlayButton>
                </div>
            </div>
        </div>

        <div class="cascade-container">
            <div class="cascade" style="background: linear-gradient(to right, #66352a00 0%, #66352a30 75%, #66352a14 100%), url('media/noise.svg');">
            </div>
        </div>
    </div>

    <div class="container">
        <Block_ArticleHeader>
            <h1 data-nosnippet>So Far From Home</h1>
        </Block_ArticleHeader>

        <Block_ArticleIntroduction>
            <Sidebar>
                <img decoding="async" class="article-featuredimage" src="@Assets["media/sofarfromhome/social.webp"]" alt="Promotional material for the game 'So Far From Home'." />

                <Block_PillCloud>
                    <Pill_GameJam />
                    <Pill_Unity />
                    <Pill_CSharp />
                </Block_PillCloud>

                <p>@openGraphModel.Description.Default</p>

                <menu class="externallinks" aria-label="Project External links">
                    <li><a href="https://github.com/fydar/SoFarFromHome" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-github" Alt="GitHub" /></a></li>
                    <li class="palette-youtube"><a href="https://youtu.be/I7_W-q0Np6s" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-youtube" Alt="YouTube" /></a></li>
                </menu>

                <ShareLink Url="@openGraphModel.CanonicalUrl.Html" />
            </Sidebar>
            <Container>
                <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/I7_W-q0Np6s?si=W4b_-U3gF05PN4SB" />
            </Container>
        </Block_ArticleIntroduction>

        <Block_ArticleOutlined>
            <Sidebar>
                <aside>
                    <Block_TableOfContents />
                </aside>
            </Sidebar>
            <Content>

                <OutlineSection Id="unique-gameplay-mechanic" LinkName="Unique Gameplay Mechanic">
                    <Block_ArticleHeading>
                        <hgroup>
                            <p>Implementing a</p>
                            <h2>Unique Gameplay Mechanic</h2>
                        </hgroup>
                    </Block_ArticleHeading>

                    <Block_Callout Type="construction">
                        <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                        <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                    </Block_Callout>
                </OutlineSection>

                <OutlineSection Id="team" LinkName="Team">
                    <Block_ArticleHeading>
                        <hgroup>
                            <p>Meet the</p>
                            <h2>Team</h2>
                        </hgroup>
                    </Block_ArticleHeading>

                    <figure class="figure-image" style="width: 100%; background: #2727273b;">
                        <picture>
                            <img decoding="async" src="@Assets["media/sofarfromhome/sofarfromhome-meettheteam.webp"]" alt="The score for 'Sonar' composed for Raid Healer Simulator." loading="lazy" />
                        </picture>
                        <figcaption>The team behind 'So Far From Home', from left to right: Aoife, Denis, Fydar, Paul, and Evan.</figcaption>
                    </figure>

                </OutlineSection>

            </Content>
        </Block_ArticleOutlined>
    </div>
</article>
