@layout DefaultLayout
@page "/portfolio/pewpew"
@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "Pew Pew - Fydar",
        Description = "A 20v20 .io style browser game made in 48 hours using ASP.NET Core and hosted in AWS.",
        CanonicalUrl = "https://fydar.dev/portfolio/pewpew",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/pewpew/social.webp",
                Alt = "Promotional material for the game 'Pew Pew'."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "Portfolio",
                Item = "https://fydar.dev/portfolio/"
            },
            new LinkDataBreadcrumbListItem()
            {
                Name = "Pew Pew",
                Item = "https://fydar.dev/portfolio/pewpew"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="container container-wide" data-nosnippet>
    <h1>Pew Pew</h1>
</section>

<aside class="project-summary">
    <section>
        <img class="project-featuredimage" src="@Assets["media/pewpew/social.webp"]" alt="Promotional material for the game 'Pew Pew'." />

        <PillCloud>
            <Pill_GameJam />
            <Pill_Backend />
            <Pill_CSharp />
            <Pill_Multiplayer />
        </PillCloud>

        <p>@openGraphModel.Description.Default</p>

        <menu class="externallinks" aria-label="Project External links">
            <li><a href="https://github.com/fydar/PewPew" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-github" Alt="GitHub" /></a></li>
            <li><a class="palette-youtube" href="https://youtu.be/9DOz6ob91zM" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-youtube" Alt="YouTube" /></a></li>
        </menu>

        <ShareLink Url="@openGraphModel.CanonicalUrl.Html" />
    </section>
</aside>

<section class="container">
    <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/9DOz6ob91zM?si=9wSx2SPaN7-wz7OO" />
</section>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="wip">
            <Prefix></Prefix>
            <Text>Work-in-progress</Text>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

    </section>
</HeadingScope>
