@layout DefaultLayout
@page "/portfolio/cryptcrawl"
@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "Crypt Crawl - Fydar",
        Description = "A pixel art dungeon crawler with dungeon textures generated in Substance Designer.",
        CanonicalUrl = "https://fydar.dev/portfolio/cryptcrawl",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/cryptcrawl/social.webp",
                Alt = "Promotional material for the game 'Crypt Crawl'."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "Portfolio",
                Item = "https://fydar.dev/portfolio"
            },
            new LinkDataBreadcrumbListItem()
            {
                Name = "Crypt Crawl",
                Item = "https://fydar.dev/portfolio/cryptcrawl"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<article class="page-cryptcrawl">

    <div class="fullscreen" data-nosnippet>
        <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">
            <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
                <img decoding="async" src="@Assets["media/cryptcrawl/background.webp"]" style="image-rendering: pixelated;" />
            </picture>
        </div>

        <div class="fullscreen-footer">
            <div class="container">
                <picture>
                    <img decoding="async" class="titlecard" src="@Assets["media/cryptcrawl/titlecard.svg"]" alt="Title card for the game 'Crypt Crawl'." />
                </picture>

                <div class="titlerow">
                    <div class="flexible-space"></div>
                    <SteamPlayButton href="/play/cryptcrawl">Play in Browser</SteamPlayButton>
                </div>
            </div>
        </div>

        <div class="cascade-container">
            <div class="cascade" style="background: linear-gradient(to right, #3d312500 0%, #3d312530 75%, #3d312514 100%), url('media/noise.svg');">
            </div>
        </div>
    </div>

    <div class="container">
        <Block_ArticleHeader>
            <h1 data-nosnippet>Crypt Crawl</h1>
        </Block_ArticleHeader>

        <Block_ArticleIntroduction>
            <Sidebar>
                <img decoding="async" class="article-featuredimage" src="@Assets["media/cryptcrawl/social.webp"]" alt="Promotional material for the game 'Crypt Crawl'." />

                <Block_PillCloud>
                    <Pill_Northbrook />
                    <Pill_GameJam />
                    <Pill_Unity />
                    <Pill_CSharp />
                </Block_PillCloud>

                <p>@openGraphModel.Description.Default</p>

                <menu class="externallinks" aria-label="Project External links">
                    <li class="palette-youtube"><a href="https://youtu.be/wZhdUXI0Wyg" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-youtube" Alt="YouTube" /></a></li>
                </menu>

                <ShareLink Url="@openGraphModel.CanonicalUrl.Html" />
            </Sidebar>
            <Container>
                <EmbedYouTube Url="https://www.youtube.com/embed/q9bQsY3fzQ8?si=I2F6BTu95kdAyQSK" />
            </Container>
        </Block_ArticleIntroduction>

        <Block_ArticleOutlined>
            <Sidebar>
                <aside>
                    <Block_TableOfContents />
                </aside>
            </Sidebar>
            <Content>

                <OutlineSection Id="gameplay" LinkName="Gameplay">
                    <Block_ArticleHeading>
                            <h2>Gameplay</h2>
                    </Block_ArticleHeading>

                    <p>For myself, the really exciting part of the development of Crypt Crawl was the idea of procedural tilesets. This meant that I could generate unique tilesets for every dungeon in real-time.</p>

                    <p>Procedural tilesets were accomplished using Substance Designer. At the time I was very new and I ended up creating an awful, brown tileset. The pixel-art technique that I used later informed art pipeline of <a href="/portfolio/thedwellers">The Dwellers</a>.</p>

                    <figure class="figure-image">
                        <img decoding="async" src="@Assets["media/cryptcrawl/background.webp"]" loading="lazy" style="image-rendering: pixelated;" />
                        <figcaption>Gameplay screenshot.</figcaption>
                    </figure>

                    <Block_Callout Type="construction">
                        <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                        <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                    </Block_Callout>
                </OutlineSection>

            </Content>
        </Block_ArticleOutlined>
    </div>
</article>
