@layout DefaultLayout
@page "/portfolio/thedwellers"
@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "The Dwellers - Fydar",
        Description = "A 3D dungeon crawler game demo with a full RPG item system, featuring a wide range of weapons and other equipment.",
        CanonicalUrl = "https://fydar.dev/portfolio/thedwellers",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/thedwellers/social.webp",
                Alt = "Promotional material for the game 'The Dwellers'."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "Portfolio",
                Item = "https://fydar.dev/portfolio/"
            },
            new LinkDataBreadcrumbListItem()
            {
                Name = "The Dwellers",
                Item = "https://fydar.dev/portfolio/thedwellers"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">
        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="@Assets["media/thedwellers/background.webp"]" style="object-position: 42% 50%;" />
        </picture>
    </div>

    <div class="fullscreen-footer">
        <div class="fullscreen-footer-container container container-wide">
            <picture>
                <img class="titlecard" src="@Assets["media/thedwellers/titlecard.svg"]" alt="Title card for the game 'The Dwellers'." />
            </picture>

            <div class="titlerow">
                <div class="flexible-space"></div>
                <SteamPlayButton href="/play/thedwellers">Play in Browser</SteamPlayButton>
            </div>
        </div>
    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #302e3200 0%, #302e3230 75%, #302e3214 100%), url('media/noise.svg');">
    </div>
</div>

<section class="container container-wide" data-nosnippet>
    <h1>The Dwellers</h1>
</section>

<aside>
    <section>
        <img class="project-featuredimage" src="@Assets["media/thedwellers/social.webp"]" alt="Promotional material for the game 'The Dwellers'." />

        <PillCloud>
            <NavLink class="pill palette-gameplay" href="/portfolio/gamejams" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Game Jam" /><p>Game Jam</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></NavLink>
            <NavLink class="pill palette-tools" href="/portfolio/tools" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Tools Programming</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></NavLink>
            <NavLink class="pill palette-gameplay" href="/portfolio/gameplay" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" /><p>Unity</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></NavLink>
            <NavLink class="pill palette-systems" href="/portfolio/systems" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>C#</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></NavLink>
        </PillCloud>

        <p>@openGraphModel.Description.Default</p>

        <menu class="externallinks" aria-label="Project External links">
            <li><a href="https://youtu.be/ksa6ccxi0Ug" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-youtube" Alt="YouTube" /></a></li>
        </menu>

        <ShareLink Url="@openGraphModel.CanonicalUrl.Html" />

    </section>
</aside>

<section class="container">
    <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/ksa6ccxi0Ug?si=hheiAYNLLLx_EhRv" />
</section>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="inventory-and-items">
            <Prefix>Implementing</Prefix>
            <Text>Inventory and Items</Text>
            <Media><SvgSprite Link="/icons.svg?v=1#icon-knapsack" /></Media>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

    </section>
</HeadingScope>
