@layout DefaultLayout
@page "/portfolio/lilypadleap"
@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "Lilypad Leap - Fydar",
        Description = "A meditative and addictive game where you jump a frog across lily pads.",
        CanonicalUrl = "https://fydar.dev/portfolio/lilypadleap",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/lilypadleap/social.png",
                Alt = "Promotional material for the game 'Lilypad Leap'."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "Portfolio",
                Item = "https://fydar.dev/portfolio/"
            },
            new LinkDataBreadcrumbListItem()
            {
                Name = "Lilypad Leap",
                Item = "https://fydar.dev/portfolio/lilypadleap"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">
        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="@Assets["media/lilypadleap/background.webp"]" style="object-position: 70% 50%" />
        </picture>
    </div>

    <div class="fullscreen-footer">
        <div class="fullscreen-footer-container container container-wide">
            <picture>
                <img class="titlecard" src="@Assets["media/lilypadleap/titlecard.svg"]" alt="Title card for the game 'Lilypad Leap'." />
            </picture>

            <div class="titlerow">
                <div class="flexible-space"></div>
                <SteamPlayButton href="/play/lilypadleap">Play in Browser</SteamPlayButton>
            </div>
        </div>
    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #5d708200 0%, #5d708230 75%, #5d708214 100%), url('media/noise.svg');">
    </div>
</div>

<section class="container container-wide" data-nosnippet>
    <h1>Lilypad Leap</h1>
</section>

<aside>
    <section>
        <img class="project-featuredimage" src="@Assets["media/lilypadleap/social.webp"]" alt="Promotional material for the game 'Lilypad Leap'." />

        <PillCloud>
            <Pill_Northbrook />
            <Pill_GameJam />
            <Pill_Unity />
            <Pill_CSharp />
        </PillCloud>

        <p>@openGraphModel.Description.Default</p>

        <menu class="externallinks" aria-label="Project External links">
        </menu>

        <ShareLink Url="@openGraphModel.CanonicalUrl.Html" />
    </section>
</aside>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="wip">
            <Prefix></Prefix>
            <Text>Work-in-progress</Text>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

    </section>
</HeadingScope>
