@layout DefaultLayout
@page "/portfolio/astralswarm"
@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "Astral Swarm - Fydar",
        Description = "Battle endless swarms of enemy space ships across the galaxy.",
        CanonicalUrl = "https://fydar.dev/portfolio/astralswarm",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/astralswarm/social.webp",
                Alt = "Promotional material for the game 'Astral Swarm'."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "Portfolio",
                Item = "https://fydar.dev/portfolio"
            },
            new LinkDataBreadcrumbListItem()
            {
                Name = "Astral Swarm",
                Item = "https://fydar.dev/portfolio/astralswarm"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<article class="page-astralswarm">

    <div class="fullscreen" data-nosnippet>
        <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">
            <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
                <img decoding="async" src="@Assets["media/astralswarm/background.webp"]" />
            </picture>
        </div>

        <div class="fullscreen-footer">
            <div class="container">
                <picture>
                    <img decoding="async" class="titlecard" src="@Assets["media/astralswarm/titlecard.webp"]" alt="Title card for the game 'Astral Swarm'." />
                </picture>

                <div class="titlerow">
                    <div class="flexible-space"></div>
                    <SteamPlayButton href="/play/astralswarm">Play in Browser</SteamPlayButton>
                </div>
            </div>
        </div>

        <div class="cascade-container">
            <div class="cascade" style="background: linear-gradient(to right, #0043bf40 0%, #0043bf57 75%, #0043bf20 100%), url('media/noise.svg');">
            </div>
        </div>
    </div>

    <div class="container">
        <Block_ArticleHeader>
            <h1 data-nosnippet>Astral Swarm</h1>
        </Block_ArticleHeader>

        <Block_ArticleIntroduction>
            <Sidebar>
                <img decoding="async" class="article-featuredimage" src="@Assets["media/astralswarm/social.webp"]" alt="Promotional material for the game 'Astral Swarm'." />

                <Block_PillCloud>
                    <Pill_OutOfTheBlueStudios />
                    <Pill_GameJam />
                    <Pill_Unity />
                    <Pill_CSharp />
                </Block_PillCloud>

                <p>Battle endless swarms of enemy space ships across the galaxy.</p>

                <menu class="externallinks" aria-label="Project External links">
                </menu>

                <ShareLink Url="@openGraphModel.CanonicalUrl.Html" />
            </Sidebar>
            <Container>
            </Container>
        </Block_ArticleIntroduction>

        <Block_ArticleOutlined>
            <Sidebar>
                <aside>
                    <Block_TableOfContents />
                </aside>
            </Sidebar>
            <Content>

                <OutlineSection Id="work-in-progress" LinkName="Work-in-progress">
                    <Block_ArticleHeading>
                        <h2>Work-in-progress</h2>
                    </Block_ArticleHeading>

                    <Block_Callout Type="construction">
                        <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                        <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                    </Block_Callout>

                </OutlineSection>

            </Content>
        </Block_ArticleOutlined>
    </div>
</article>
