@layout DefaultLayout
@page "/portfolio/miniminer"
@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "Mini Miner - Fydar",
        Description = "The Game Boy demake of the Nintendo DS Pokémon Diamond and Pearl underground mining minigame.",
        CanonicalUrl = "https://fydar.dev/portfolio/miniminer",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/miniminer/social.webp",
                Alt = "Promotional material for the game 'Mini Miner'."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "Portfolio",
                Item = "https://fydar.dev/portfolio"
            },
            new LinkDataBreadcrumbListItem()
            {
                Name = "Mini Miner",
                Item = "https://fydar.dev/portfolio/miniminer"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<article class="page-miniminer">

    <div class="fullscreen" data-nosnippet>
        <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">
            <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
                <img decoding="async" src="@Assets["media/miniminer/background.webp"]" style="image-rendering: pixelated; object-position: 70% 50%" />
            </picture>
        </div>

        <div class="fullscreen-footer">
            <div class="container">
                <picture>
                    <img decoding="async" class="titlecard" src="@Assets["media/miniminer/titlecard.svg"]" alt="Title card for the game 'Mini Miner'." />
                </picture>

                <div class="titlerow">
                    <div class="flexible-space"></div>
                    <SteamPlayButton href="/play/miniminer">Play in Browser</SteamPlayButton>
                </div>
            </div>
        </div>

        <div class="cascade-container">
            <div class="cascade" style="background: linear-gradient(to right, #a1ba2f00 0%, #a1ba2f30 75%, #a1ba2f14 100%), url('media/noise.svg');">
            </div>
        </div>
    </div>

    <div class="container">
        <Block_ArticleHeader>
            <h1 data-nosnippet>Mini Miner</h1>
        </Block_ArticleHeader>

        <Block_ArticleIntroduction>
            <Sidebar>
                <img decoding="async" class="article-featuredimage" src="@Assets["media/miniminer/social.webp"]" alt="Promotional material for the game 'Mini Miner'." />

                <Block_PillCloud>
                    <Pill_GameJam />
                    <Pill_Unity />
                    <Pill_CSharp />
                    <Pill_TechnicalArt />
                </Block_PillCloud>

                <p>The Game Boy demake of the Nintendo DS <i>Pokémon Diamond and Pearl</i> underground mining minigame.</p>

                <menu class="externallinks" aria-label="Project External links">
                    <li><a href="https://github.com/fydar/MiniMiner" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-github" Alt="GitHub" /></a></li>
                    <li class="palette-youtube"><a href="https://youtu.be/_JwmO41hxcI" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-youtube" Alt="YouTube" /></a></li>
                </menu>

                <ShareLink Url="@openGraphModel.CanonicalUrl.Html" />
            </Sidebar>
            <Container>
                <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/_JwmO41hxcI?si=1btWzYt8tR6iS5HH" />
            </Container>
        </Block_ArticleIntroduction>

        <Block_ArticleOutlined>
            <Sidebar>
                <aside>
                    <Block_TableOfContents />
                </aside>
            </Sidebar>
            <Content>

                <OutlineSection Id="gameboy-shader" LinkName="Gameboy Shader">
                    <Block_ArticleHeading>
                        <hgroup>
                            <p>Implementing the</p>
                            <h2>Gameboy Shader</h2>
                        </hgroup>
                    </Block_ArticleHeading>

                    <figure class="figure-image">
                        <picture>
                            <img decoding="async" src="@Assets["media/miniminer/miniminer-shader-part1.webp"]" alt="The UVs, grid generation, and texture sampler of the Mini Miner Game Boy shader." loading="lazy" />
                        </picture>
                        <figcaption>The UVs, grid generation, and texture sampler of the Mini Miner Game Boy shader.</figcaption>
                    </figure>


                    <figure class="figure-image">
                        <picture>
                            <img decoding="async" src="@Assets["media/miniminer/miniminer-shader-part2.webp"]" alt="The compositing and gradient ramp of the Mini Miner Game Boy shader." loading="lazy" />
                        </picture>
                        <figcaption>The compositing and gradient ramp of the Mini Miner Game Boy shader.</figcaption>
                    </figure>
                </OutlineSection>

                <OutlineSection Id="soundtrack" LinkName="Soundtrack">
                    <Block_ArticleHeading>
                        <hgroup>
                            <p>Composing the</p>
                            <h2>Soundtrack</h2>
                        </hgroup>
                    </Block_ArticleHeading>

                    <h3>Main Menu Music</h3>

                    <p>I composed this track for the main menu of the game. I took elements of traditional work songs with the lower BPM and simple drums to keep pace. I worked elements into the track gradually, starting with just the drums and adding the baseline, finally adding the ostinato.</p>

                    <Block_FigureAudio DefaultVolume="0.125">
                        <TrackName><b>Track 1:</b> Main Menu Music</TrackName>
                        <Description>
                            <p>by Fydar</p>
                        </Description>
                        <AlbumCover>
                            <img decoding="async" src="@Assets["media/miniminer/miniminer-mainmenu.png"]" alt="The main menu of Mini Miner." loading="lazy" />
                        </AlbumCover>
                        <Sources>
                            <source src="@Assets["media/miniminer/music-menu.ogg"]" type="audio/ogg">
                            <source src="@Assets["media/miniminer/music-menu.mp3"]" type="audio/mpeg">
                        </Sources>
                    </Block_FigureAudio>

                    <h3>Introduction Music</h3>

                    <p>The introduction of the game is conducted by <b>The Mine Director</b>, a mole with a shovel, mining hat, and glasses. I imagine moles to be quite energetic, and the design I chose for the mole makes them look like cartoon character, so I chose to a baseline that is somewhat goofy in nature.</p>

                    <Block_FigureAudio DefaultVolume="0.125">
                        <TrackName><b>Track 2:</b> Intro Music</TrackName>
                        <Description>
                            <p>by Fydar</p>
                        </Description>
                        <AlbumCover>
                            <img decoding="async" src="@Assets["media/miniminer/miniminer-intro.png"]" alt="The intro sequence of Mini Miner." loading="lazy" />
                        </AlbumCover>
                        <Sources>
                            <source src="@Assets["media/miniminer/music-intro.ogg"]" type="audio/ogg">
                            <source src="@Assets["media/miniminer/music-intro.mp3"]" type="audio/mpeg">
                        </Sources>
                    </Block_FigureAudio>

                    <h3>Mining Music</h3>

                    <p>This track needs to be able to loop as I'm going to be using it in the background of the gameplay. The raw sine wave instruments that I used in the previous tracks is rather harsh (to the point where I wouldn't want to listen to it for an extended period of time) I moved the ostinato onto a much lower and softer toned instrument.</p>

                    <Block_FigureAudio DefaultVolume="0.125">
                        <TrackName><b>Track 3:</b> Mining Music</TrackName>
                        <Description>
                            <p>by Fydar</p>
                        </Description>
                        <AlbumCover>
                            <img decoding="async" src="@Assets["media/miniminer/miniminer-overworld.png"]" alt="The overworld of Mini Miner." loading="lazy" />
                        </AlbumCover>
                        <Sources>
                            <source src="@Assets["media/miniminer/music-mining.ogg"]" type="audio/ogg">
                            <source src="@Assets["media/miniminer/music-mining.mp3"]" type="audio/mpeg">
                        </Sources>
                    </Block_FigureAudio>

                </OutlineSection>

                <Block_Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Block_Callout>
            </Content>
        </Block_ArticleOutlined>
    </div>
</article>
