@layout DefaultLayout
@page "/portfolio/uno"
@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "UNO™ - Fydar",
        Description = "Modernizing a legacy UI and optimizing performance for Ubisoft's iconic card game.",
        CanonicalUrl = "https://fydar.dev/portfolio/uno",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/uno/social.webp",
                Alt = "Promotional material for the game 'UNO™'."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "Portfolio",
                Item = "https://fydar.dev/portfolio"
            },
            new LinkDataBreadcrumbListItem()
            {
                Name = "UNO™",
                Item = "https://fydar.dev/portfolio/uno"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<article class="page-uno">

    <div class="fullscreen" data-nosnippet>
        <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">
            <div class="parallax-layer" style="--parallax-multiplier: 0.5;">
                <div class="blur" style="background: radial-gradient(in oklab 20% 25% at 57% 40%, rgb(255, 118, 7) 16%, transparent), radial-gradient(in oklab 100% 105% at 66% 60%, rgb(250, 202, 21) 0%, rgb(253, 165, 13) 10%, rgb(255, 118, 7) 20%, rgb(255 71 0) 30%, rgb(239 35 0) 41%, rgb(89 3 0) 77%, rgb(72, 12, 3) 100%)">
                </div>
            </div>

            <video class="parallax-layer" style="--parallax-multiplier: 0.5; mix-blend-mode: screen;" autoplay muted loop>
                <source src="@Assets["media/uno/background.1440p.60fps.h265.mp4"]" type='video/mp4; codecs="hvc1.1.2.L123.90"; profiles="isom,iso2,mp41"'>
                <source src="@Assets["media/uno/background.1440p.30fps.h264.mp4"]" type='video/mp4; codecs="avc1.4d401f"; profiles="isom,iso2,avc1,mp41"'>
            </video>
        </div>

        <div class="fullscreen-footer">
            <div class="container">
                <picture>
                    <img decoding="async" class="titlecard" src="@Assets["media/uno/logo.svg"]" alt="Title card for the game 'UNO™'." />
                </picture>

                <div class="titlerow">
                    <div class="flexible-space"></div>
                    <SteamPlayButton href="https://www.ubisoft.com/en-gb/game/uno/uno">Visit on Ubisoft</SteamPlayButton>
                </div>
            </div>
        </div>

        <div class="cascade-container">
            <div class="cascade" style="background: linear-gradient(to left, rgba(250,202,21,0.125) 2%, rgba(253,165,13,0.125) 12%, rgba(255,118,7,0.125) 26%, rgba(250,70,0,0.125) 36%, rgba(241,36,1,0.125) 43%, rgba(141,5,0,0.125) 77%, rgba(101,2,0,0.125) 100%), url('media/noise.svg');">
            </div>
        </div>
    </div>

    <div class="container">
        <Block_ArticleHeader>
            <h1 data-nosnippet>UNO™</h1>
        </Block_ArticleHeader>

        <Block_ArticleIntroduction>
            <Sidebar>
                <img decoding="async" class="article-featuredimage" src="@Assets["media/uno/social.webp"]" alt="Promotional material for the game 'UNO™'." />

                <Block_PillCloud>
                    <Pill_Unity />
                    <Pill_CSharp />
                    <Pill_TechnicalArt />
                </Block_PillCloud>

                <p>@openGraphModel.Description.Default</p>

                <menu class="externallinks" aria-label="Project External links">
                    <li class="palette-steam"><a href="https://store.steampowered.com/app/470220/UNO/" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-steam" Alt="Steam" /></a></li>
                    <li><a href="https://www.ubisoft.com/en-gb/game/uno/uno" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-ubisoft" Alt="Ubisoft" /></a></li>
                    <li class="palette-playstation"><a href="https://www.playstation.com/en-gb/games/uno/" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-playstation" Alt="PlayStation" /></a></li>
                    <li class="palette-xbox"><a href="https://www.xbox.com/en-gb/games/store/uno/bnsdhdk45kbr" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-xbox" Alt="Xbox" /></a></li>
                    <li><a class="palette-nintendoswitch" href="https://www.nintendo.com/au/games/nintendo-switch/uno/" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-nintendoswitch" Alt="Nintendo Switch" /></a></li>
                    <li class="palette-youtube"><a href="https://youtu.be/sthkAM0-P3I" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-youtube" Alt="YouTube" /></a></li>
                </menu>

                <ShareLink Url="@openGraphModel.CanonicalUrl.Html" />
            </Sidebar>
            <Container>
                <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/sthkAM0-P3I?si=SM-RixNhyfdDTb50" />
            </Container>
        </Block_ArticleIntroduction>

        <Block_ArticleOutlined>
            <Sidebar>
                <aside>
                    <Block_TableOfContents />
                </aside>
            </Sidebar>
            <Content>
                <OutlineSection Id="legacy-codebase" LinkName="Project Overview">
                    <Block_ArticleHeading>
                        <img class="media" decoding="async" src="@Assets["media/uno/green-1.webp"]" alt="A green UNO™ 1 card." />
                        <hgroup>
                            <p>Legacy Systems & Modernization</p>
                            <h2>Project Overview</h2>
                        </hgroup>
                    </Block_ArticleHeading>

                    <p>Ubisoft’s <b>UNO™</b> is built on a legacy codebase originating in 2016. My primary objective was to address technical debt and resolve long-standing bugs to restore community trust. This required a deep dive into antiquated UI systems and complex rendering bottlenecks across multiple platforms.</p>

                </OutlineSection>

                <OutlineSection Id="button-behaviour" LinkName="UX Engineering">
                    <Block_ArticleHeading>
                        <img class="media" decoding="async" src="@Assets["media/uno/blue-2.webp"]" alt="A blue UNO™ 2 card." />
                        <hgroup>
                            <p>Refactoring Logic & Input Parity</p>
                            <h2>UX Engineering: Main Menu</h2>
                        </hgroup>
                    </Block_ArticleHeading>

                    <p>The legacy UI suffered from “input friction” caused by technical inconsistencies that degraded the user experience. I refactored the core button component logic to decouple visual animations from functional interaction states.</p>

                    <h3>Rework 1: Static Hitbox Geometry</h3>

                    <p>The original implementation scaled hitboxes during hover animations, creating a “moving target” effect. I re-engineered the logic to ensure hitbox geometry remained static and predictable while the visual layer handled the juice.</p>

                    <figure class="figure-image">
                        <video autoplay muted loop>
                            <source src="@Assets["media/uno/issue1-before.30fps.h265.mp4"]" type='video/mp4; codecs="hvc1.1.2.L123.90"; profiles="isom,iso2,mp41"'>
                            <source src="@Assets["media/uno/issue1-before.30fps.h264.mp4"]" type='video/mp4; codecs="avc1.4d4028"; profiles="isom,iso2,avc1,mp41"'>
                        </video>
                        <figcaption><b>Before:</b> Dynamic hitbox scaling causing inconsistent mouse-over registration.</figcaption>
                    </figure>

                    <figure class="figure-image">
                        <video autoplay muted loop>
                            <source src="@Assets["media/uno/issue1-after.30fps.h265.mp4"]" type='video/mp4; codecs="hvc1.1.2.L123.90"; profiles="isom,iso2,mp41"'>
                            <source src="@Assets["media/uno/issue1-after.30fps.h264.mp4"]" type='video/mp4; codecs="avc1.4d4028"; profiles="isom,iso2,avc1,mp41"'>
                        </video>
                        <figcaption><b>After:</b> Refactored hitbox logic ensuring reliable interaction.</figcaption>
                    </figure>

                    <h3>Rework 2: Standardizing Tactile Feedback</h3>

                    <p>Effective UI requires immediate confirmation of user intent. The legacy codebase primarily used “act on release” triggers, which can feel sluggish if not accompanied by proper feedback. Due to the significant lag spikes that occour when opening a tab, I focused on improving the visual feedback loop rather than changing the button behaviour.</p>

                    <p>I introduced a dedicated button “depressed” state across all input modalities. This ensures that the user receives a tactile visual response the instant a button is engaged, providing the “snappiness” of a modern UI while respecting the technical constraints of the 2016 codebase.</p>

                    <figure class="figure-image">
                        <video autoplay muted loop>
                            <source src="@Assets["media/uno/issue2-after.30fps.h265.mp4"]" type='video/mp4; codecs="hvc1.1.2.L123.90"; profiles="isom,iso2,mp41"'>
                            <source src="@Assets["media/uno/issue2-after.30fps.h264.mp4"]" type='video/mp4; codecs="avc1.4d4028"; profiles="isom,iso2,avc1,mp41"'>
                        </video>
                        <figcaption>Implemented tactile "press" states for immediate visual feedback.</figcaption>
                    </figure>

                    <h3>Rework 3: Input Parity & Logic Inconsistency</h3>

                    <p>I implemented a standardized state machine to ensure animations and labels (e.g., glows and hover tooltips) triggered identically regardless of the input device, eliminating the disparity between mouse and controller users.</p>

                    <figure class="figure-image">
                        <video autoplay muted loop>
                            <source src="@Assets["media/uno/issue3-after.30fps.h265.mp4"]" type='video/mp4; codecs="hvc1.1.2.L123.90"; profiles="isom,iso2,mp41"'>
                            <source src="@Assets["media/uno/issue3-after.30fps.h264.mp4"]" type='video/mp4; codecs="avc1.4d4028"; profiles="isom,iso2,avc1,mp41"'>
                        </video>
                        <figcaption>Standardized controller navigation with full animation parity.</figcaption>
                    </figure>
                </OutlineSection>

                <OutlineSection Id="overdraw" LinkName="Technical Art Optimization">
                    <Block_ArticleHeading>
                        <img class="media" decoding="async" src="@Assets["media/uno/red-3.webp"]" alt="A red UNO™ 3 card." />
                        <hgroup>
                            <p>GPU Optimization & Performance</p>
                            <h2>Technical Art: Valhalla DLC</h2>
                        </hgroup>
                    </Block_ArticleHeading>

                    <p>The UNO™ Valhalla DLC "battle" screen suffered from significant frame-rate drops on console, particularly Xbox. I was tasked with diagnosing the source of the GPU lag and implementing a fix that maintained visual fidelity.</p>

                    <figure class="figure-image">
                        <picture class="media-wide">
                            <img decoding="async" src="@Assets["media/uno/valhalla-battle.webp"]" alt="The UNO™ Valhalla DLC battle map." loading="lazy" />
                        </picture>
                        <figcaption>The performance-intensive Valhalla DLC "battle" screen.</figcaption>
                    </figure>

                    <h3>The Diagnosis: Overdraw Analysis</h3>

                    <p>Using Unity's Overdraw Debugger, I identified that the background Aurora effect, created using a <b>Unity Particle System</b>, was rendering excessive overlapping high-transparency quads. This forced the GPU to re-calculate the same pixels multiple times per frame, creating massive overhead.</p>

                    <figure class="figure-image">
                        <picture class="media-wide">
                            <img decoding="async" src="@Assets["media/uno/valhalla-battle-godrays-overdraw.webp"]" alt="A comparison of different godray particles using the Overdraw debugger.." loading="lazy" />
                        </picture>
                        <figcaption><b>Overdraw View:</b> The left panel shows the original "hot" area of high pixel complexity; the right shows the optimized version.</figcaption>
                    </figure>

                    <h3>The Solution: Balancing Fidelity & Overhead</h3>

                    <p>I balanced visual quality with GPU performance by reducing the total particle count by approximately 40% while increasing the alpha opacity. This maintained the "thick" visual presence of the aurora while significantly reducing the per-pixel rendering costs.</p>

                    <figure class="figure-image">
                        <picture class="media-wide">
                            <img decoding="async" src="@Assets["media/uno/valhalla-battle-godrays-comparison.webp"]" alt="A comparison of different godray particles." loading="lazy" />
                        </picture>
                        <figcaption><b>Left</b> is the slow Particle System; <b>Right</b> is the optimized Particle System.</figcaption>
                    </figure>
                </OutlineSection>

            </Content>
        </Block_ArticleOutlined>
    </div>
</article>
