@layout DefaultLayout
@page "/resume"
@using Fydar.Dev.WebApp.Components.Blocks.Resume;

@inject NavigationManager NavigationManager
@{
	var openGraphModel = new OpenGraphModel()
	{
		Title = "Resume - Fydar",
		Description = "Here you can find my resume, documenting my 8-year career in the Games Development industry.",
		CanonicalUrl = "https://fydar.dev/resume",
		Properties = [
			new OpenGraphModelImage()
			{
				Url = "https://fydar.dev/media/header.webp",
				Alt = "A portrait of Fydar in an anime art style."
			}
		]
	};
	var linkData = new LinkData()
	{
		new LinkDataBreadcrumbList()
		{
			new LinkDataBreadcrumbListItem()
			{
				Name = "Resume",
				Item = "https://fydar.dev/resume/"
			}
		}
	};
}

<HeadContent>
	<OpenGraphComponent Model="@openGraphModel" />
	<LinkDataComponent Model="@linkData" />
</HeadContent>

@{
	string explicitBaseUri = "https://fydar.dev";

	if (NavigationManager.BaseUri == "https://fydar.dev/")
	{
		explicitBaseUri = "";
	}
}

<article class="page-resume">
	<div class="container container--a4">
		<Block_ArticleHeader>
			<h1>Resume <span class="subtle">v5.1.2</span></h1>
			<Card>
				<a class="card__button" href="/media/resume.pdf" download="resume-fydaravery-v5.1.2.pdf">
					<SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-download" />Download
				</a>
			</Card>
		</Block_ArticleHeader>

		<section class="section-page" id="page1">
			<Page class="page-coverletter">

				<div class="page-coverletter-header" data-nosnippet>
					<h2>Fydar Avery</h2>
				</div>

				<div data-nosnippet>
					<ul class="page-coverletter-details" dir="ltr">
						<li><p><SvgSprite Link="/icons.svg?v=1#icon-home" Alt="Location" />Brighton, UK</p></li>
						<li><ScrapeProofLink LinkText="contact@fydar.dev" LinkDestination="mailto:contact@fydar.dev" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-email" Alt="Email" /></ScrapeProofLink></li>
						<li><a href="@explicitBaseUri/" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-fydar-round" Alt="Portfolio Website" />https://fydar.dev/<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></li>
						<li><a href="https://github.com/Fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-github" Alt="GitHub" />@@Fydar<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></li>
						<li><a href="https://www.linkedin.com/in/fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-linkedin-inverted" Alt="LinkedIn" />/in/fydar<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></li>
					</ul>
				</div>

				<p data-nosnippet>Greetings,</p>
				<div class="spacer"></div>

				<p>I am a programmer with <b>8 years, 1 month</b> of experience working in the <b>Games Development</b> industry. I have worked on <a href="@explicitBaseUri/#titles" class="textual-link" target="_blank">8 commercial titles<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a> and I have an extensive portfolio of other works.</p>

				<p class="link-tag-cloud" data-nosnippet>
					<a class="link-tag" href="@explicitBaseUri/portfolio/eitr" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />EITR<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
					<a class="link-tag" href="@explicitBaseUri/portfolio/legostarwarsbattles" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />LEGO® Star Wars™ Battles<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
					<a class="link-tag" href="@explicitBaseUri/portfolio/starcitizen" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />Star Citizen<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
					<a class="link-tag" href="@explicitBaseUri/portfolio/starcitizen" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />Squadron 42<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
					<br />
					<a class="link-tag" href="@explicitBaseUri/portfolio/outrage" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />OutRage: Fight Fest<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
					<a class="link-tag" href="@explicitBaseUri/portfolio/southfield" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />Southfield<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
					<a class="link-tag" href="@explicitBaseUri/portfolio/uno" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />UNO™<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
					<a class="link-tag" href="@explicitBaseUri/portfolio/phasmophobia" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />Phasmophobia<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
				</p>

				<div class="spacer"></div>

				<p>My career has been diverse, spanning a range of disciplines in the Games Development industry, making me a <b>highly versatile candidate</b> for any role.</p>

				<ul>
					<li><b><a href="@explicitBaseUri/portfolio/backend" class="textual-link" target="_blank">Backend Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for highly scalable, distributed cloud microservices and dedicated servers</li>
					<li><b><a href="@explicitBaseUri/portfolio/systems" class="textual-link" target="_blank">Systems Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for performance-critical and complex systems</li>
					<li><b><a href="@explicitBaseUri/portfolio/tools" class="textual-link" target="_blank">Tools Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for technical art, game design, game data authoring, and asset management</li>
					<li><b><a href="@explicitBaseUri/portfolio/multiplayer" class="textual-link" target="_blank">Multiplayer Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for game clients, meta-game servers, and realtime game servers</li>
					<li><b><a href="@explicitBaseUri/portfolio/gameplay" class="textual-link" target="_blank">Gameplay Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> with a keen understanding of satisfying mechanics</li>
					<li><b><a href="@explicitBaseUri/portfolio/technicalart" class="textual-link" target="_blank">Technical Artist<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for asset pipelines and artist tooling</li>
				</ul>

				<div class="spacer"></div>

				<p>I love my long-running history of <a href="@explicitBaseUri/portfolio/gamejams" class="textual-link" target="_blank">game jams<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>. These serve as a great opportunity for me to push technical boundaries and experiment with the latest technologies.</p>

				<p class="link-tag-cloud" data-nosnippet>
					<a class="link-tag" href="@explicitBaseUri/portfolio/miniminer" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />Mini Miner<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
					<a class="link-tag" href="@explicitBaseUri/portfolio/astralelites" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />Astral Elites<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
					<a class="link-tag" href="@explicitBaseUri/portfolio/raidhealersimulator" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />Raid Healer Simulator<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
					<a class="link-tag" href="@explicitBaseUri/portfolio/gamejams" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />17 other games&hellip;<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
				</p>

				<div class="spacer"></div>

				<p>Thank you for your consideration.</p>

				<div class="spacer"></div>

				<p>Sincerely,<br />Fydar Avery</p>

				<SvgSprite class="signature-signed" width="200" height="100" Link="/icons.svg?v=1#icon-fydar-signature" Alt="Fydar's signature." />
				<p><IPA String="new IPAString(IPACluster.PrimaryStress, IPACluster.F, IPACluster.Y, IPACluster.Syllabification, IPACluster.D, IPACluster.AR)" /></p>

			</Page>

			<div class="section-page-below" data-nosnippet aria-hidden="true">
				<div class="section-page-below-left"><a href="/media/resume.pdf" target="_blank">resume-fydaravery-v5.1.2.pdf</a></div>
				<div class="section-page-below-right">Page <b>1</b> of <b>3</b></div>
			</div>
		</section>

		<section class="section-page" id="page2">
			<Page class="page-experience">

				<h2 id="titles">Titles <span class="subtle">(8)</span></h2>

				<Block_CoverGrid>

					<CoverDate Date="2025">
						<Cover_Phasmophobia />
					</CoverDate>

					<CoverDate Date="2024">
						<Cover_UNO />
					</CoverDate>

					<CoverDate>
						<Cover_Southfield />
					</CoverDate>

					<CoverDate Date="2022">
						<Cover_Outrage />
					</CoverDate>

					<CoverDate>
						<Cover_StarCitizen />
					</CoverDate>

					<CoverDate>
						<Cover_Squadron42 />
					</CoverDate>

					<CoverDate Date="2020">
						<Cover_LegoStarWarsBattles />
					</CoverDate>

					<CoverDate Date="2018">
						<Cover_Eitr />
					</CoverDate>

				</Block_CoverGrid>

				<h2 id="skills">Skills</h2>

				<a class="callout palette-systems" target="_blank" href="@explicitBaseUri/portfolio/systems">
					<SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" />
					<h4>Systems Engineering<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h4>
					<ul class="textual-tags">
						<li class="textual-tag">C#</li>
						<li class="textual-tag">C++</li>
						<li class="textual-tag">RPG Systems</li>
						<li class="textual-tag">Physics</li>
						<li class="textual-tag">SIMD</li>
					</ul>
				</a>

				<a class="callout palette-backend" target="_blank" href="@explicitBaseUri/portfolio/backend">
					<SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Systems Engineering" />
					<h4>Backend Engineering<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h4>
					<ul class="textual-tags">
						<li class="textual-tag">ASP.NET Core</li>
						<li class="textual-tag">Docker</li>
						<li class="textual-tag">AWS</li>
						<li class="textual-tag">Azure</li>
						<li class="textual-tag">IaC (Infrastructure as Code)</li>
						<li class="textual-tag">SQL</li>
						<li class="textual-tag">NoSQL</li>
					</ul>
				</a>

				<a class="callout palette-tools" target="_blank" href="@explicitBaseUri/portfolio/tools">
					<SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Systems Engineering" />
					<h4>Tools Programming<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h4>
					<ul class="textual-tags">
						<li class="textual-tag">Blazor</li>
						<li class="textual-tag">WPF</li>
						<li class="textual-tag">MAUI</li>
						<li class="textual-tag">Qt</li>
						<li class="textual-tag">CLI</li>
						<li class="textual-tag">Unity Custom Editors</li>
					</ul>
				</a>

				<a class="callout palette-gameplay" target="_blank" href="@explicitBaseUri/portfolio/gameplay">
					<SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Systems Engineering" />
					<h4>Gameplay Programming<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h4>
					<ul class="textual-tags">
						<li class="textual-tag">Camera Controllers</li>
						<li class="textual-tag">Bug Fixing</li>
						<li class="textual-tag">AI</li>
						<li class="textual-tag">UI/UX</li>
					</ul>
					<ul class="textual-tags">
						<li class="textual-tag"><b>Unity Engine</b></li>
						<li class="textual-tag">Addressables</li>
						<li class="textual-tag">ScriptableObjects</li>
					</ul>
				</a>

				<a class="callout palette-multiplayer" target="_blank" href="@explicitBaseUri/portfolio/multiplayer">
					<SvgSprite Link="/icons.svg?v=1#tabler--users-group" Alt="Systems Engineering" />
					<h4>Multiplayer Programming<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h4>
					<ul class="textual-tags">
						<li class="textual-tag">Photon</li>
						<li class="textual-tag">UNet</li>
						<li class="textual-tag">Deterministic</li>
						<li class="textual-tag">Custom Solutions</li>
					</ul>
				</a>

				<a class="callout palette-technicalart" target="_blank" href="@explicitBaseUri/portfolio/technicalart">
					<SvgSprite Link="/icons.svg?v=1#tabler--brush" Alt="Technical Art" />
					<h4>Technical Art<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h4>
					<ul class="textual-tags">
						<li class="textual-tag">GLSL</li>
						<li class="textual-tag">UI</li>
						<li class="textual-tag">Substance Designer</li>
						<li class="textual-tag">Optimization</li>
						<li class="textual-tag">Particles</li>
					</ul>
				</a>

				<h2 id="experience">Professional Experience</h2>

				<div class="timeline">
					<a class="timeline-header" target="_blank" href="@explicitBaseUri/portfolio/phasmophobia">
						<div class="timeline-header-icon">
							<picture>
								<img decoding="async" src="@Assets["media/companies/kineticgames/logo_200x200.png"]" alt="The logo for 'Kinetic Games'." />
							</picture>
						</div>
						<div class="timeline-header-content">
							<div class="heading-row">
								<h3>Kinetic Games<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h3>
								<h4>Phasmophobia</h4>
							</div>
							<div class="heading-row">
								<ul class="textual-tags">
									<Resume_Tag_Basis_FullTime />
									<Resume_Tag_Size_Indie />
									<Resume_Tag_Duration Text="4 months" />
									<!--
										<Resume_Tag_Location Address="Southampton, United Kingdom" />
										<Resume_Tag_Site_Hybrid />
									-->
								</ul>
								<ul class="textual-tags">
									<li class="textual-tag">
										<SvgSprite Link="/icons.svg?v=1#icon-steam" />
										<SvgSprite Link="/icons.svg?v=1#icon-playstation" />
										<SvgSprite Link="/icons.svg?v=1#icon-xbox" />
									</li>
									<Resume_Tag_VR />
									<Resume_Tag_Engine_Unity />
								</ul>
							</div>
						</div>
						<div class="timeline-header-media">
							<picture>
								<img decoding="async" src="@Assets["media/phasmophobia/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'Phasmophobia'." />
							</picture>
						</div>
					</a>

					<div class="timeline-body">
						<div class="timeline-body-years">
							<Resume_Year Year="2025" />
						</div>
						<div class="timeline-body-content">
							<div class="callout palette-gameplay">
								<SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" />
								<div class="heading-row">
									<h4>Senior Gameplay Programmer</h4>
									<ul class="textual-tags">
										<Resume_Tag_Duration Text="December 2024 – March 2025" Short="2024 - 2025" />
										<Resume_Tag_Span Text="4 mos" />
									</ul>
								</div>
							</div>

							<div class="capsule-tag-cloud">
								<a class="capsule-tag palette-gameplay" href="@explicitBaseUri/portfolio/phasmophobia#more-to-come" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" /><p>Future Updates</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-gameplay" href="@explicitBaseUri/portfolio/phasmophobia#more-to-come" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" /><p>Bug Fixing</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-technicalart" href="@explicitBaseUri/portfolio/phasmophobia#setpass-calls" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--brush" Alt="Technical Art" /><p>Technical Art</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
							</div>
						</div>
					</div>
				</div>



			</Page>

			<div class="section-page-below" data-nosnippet aria-hidden="true">
				<div class="section-page-below-left"><a href="/media/resume.pdf" target="_blank">resume-fydaravery-v5.1.2.pdf</a></div>
				<div class="section-page-below-right">Page <b>2</b> of <b>3</b></div>
			</div>
		</section>

		<section class="section-page" id="page3">
			<Page class="page-experience">

				<div class="timeline">
					<a class="timeline-header" target="_blank" href="@explicitBaseUri/portfolio/uno">
						<div class="timeline-header-icon">
							<picture>
								<img decoding="async" src="@Assets["media/companies/snapfingerclick/snapfingerclick-logo-filled.svg"]" alt="The logo for 'Snap Finger Click'.">
							</picture>
						</div>
						<div class="timeline-header-content">
							<div class="heading-row">
								<h3>Snap Finger Click<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h3>
								<h4>UNO™</h4>
							</div>
							<div class="heading-row">
								<ul class="textual-tags">
									<Resume_Tag_Basis_FullTime />
									<Resume_Tag_Size_AA />
									<Resume_Tag_Duration Text="6 months" />
									<!--
										<Resume_Tag_Location Address="Brighton, United Kingdom" />
										<Resume_Tag_Site_Remote />
									-->
								</ul>
								<ul class="textual-tags">
									<li class="textual-tag">
										<SvgSprite Link="/icons.svg?v=1#icon-steam" />
										<SvgSprite Link="/icons.svg?v=1#icon-playstation" />
										<SvgSprite Link="/icons.svg?v=1#icon-xbox" />
										<SvgSprite Link="/icons.svg?v=1#icon-nintendoswitch" />
									</li>
									<Resume_Tag_Engine_Unity />
								</ul>
							</div>
						</div>
						<div class="timeline-header-media">
							<picture>
								<img decoding="async" src="@Assets["media/uno/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'UNO™'." />
							</picture>
						</div>
					</a>

					<div class="timeline-body">
						<div class="timeline-body-years">
							<Resume_Year Year="2024" />
						</div>
						<div class="timeline-body-content">
							<div class="callout palette-gameplay">
								<SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" />
								<div class="heading-row">
									<h4>Senior Gameplay Programmer</h4>
									<ul class="textual-tags">
										<Resume_Tag_Duration Text="July 2022 – November 2024" Short="2024" />
										<Resume_Tag_Span Text="6 mos" />
									</ul>
								</div>
							</div>

							<div class="capsule-tag-cloud">
								<a class="capsule-tag palette-gameplay" href="@explicitBaseUri/portfolio/uno#button-behaviour" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" /><p>Main Menu Buttons</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-gameplay" href="@explicitBaseUri/portfolio/uno#legacy-codebase" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" /><p>Bug Fixing</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-technicalart" href="@explicitBaseUri/portfolio/uno#overdraw" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--brush" Alt="Technical Art" /><p>Technical Art</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
							</div>
						</div>
					</div>
				</div>

				<div class="timeline">
					<a class="timeline-header" target="_blank" href="@explicitBaseUri/portfolio/southfield">
						<div class="timeline-header-icon">
							<picture>
								<img decoding="async" src="@Assets["media/companies/radicalforge/radicalforge-logo-small.webp"]" alt="The logo for 'Radical Forge'.">
							</picture>
						</div>
						<div class="timeline-header-content">
							<div class="heading-row">
								<h3>Radical Forge<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h3>
								<h4>Southfield</h4>
							</div>
							<div class="heading-row">
								<ul class="textual-tags">
									<Resume_Tag_Basis_FullTime />
									<Resume_Tag_Size_AA />
									<Resume_Tag_Duration Text="1 year, 7 months" />
									<!--
										<Resume_Tag_Location Address="Middlesbrough, United Kingdom" />
										<Resume_Tag_Site_Remote />
									-->
								</ul>
								<ul class="textual-tags">
									<li class="textual-tag">
										<SvgSprite Link="/icons.svg?v=1#icon-steam" />
									</li>
									<Resume_Tag_Engine_Unity />
								</ul>
							</div>
						</div>
						<div class="timeline-header-media">
							<picture>
								<img decoding="async" class="timeline-header-media" src="@Assets["media/southfield/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'Southfield'." />
							</picture>
						</div>
					</a>

					<div class="timeline-body">
						<div class="timeline-body-years">
							<Resume_Year Year="2024" />
							<Resume_Year Year="2023" />
						</div>
						<div class="timeline-body-content">
							<div class="callout palette-tools">
								<SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" />
								<div class="heading-row">
									<h4>Senior Tools Programmer</h4>
									<ul class="textual-tags">
										<Resume_Tag_Duration Text="September 2022 – March 2024" Short="2022 - 2024" />
										<Resume_Tag_Span Text="1 yr, 7 mos" />
									</ul>
								</div>
							</div>

							<div class="capsule-tag-cloud">
								<a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/southfield#gradient-recolouring" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Gradient Recolouring</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/southfield#icon-generation" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Icon Generation</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/southfield#texture-atlasing" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Texture Atlasing</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/southfield#level-design-and-procedural-generation" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Prop Placement Brushes</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-gameplay" href="@explicitBaseUri/portfolio/southfield#cinematic-camera" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" /><p>Cinematic Camera</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-technicalart" href="https://www.gamesindustry.biz/technical-art-roles-what-they-are-and-how-to-get-one" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--brush" Alt="Technical Art" /><p>EGX 2023 Panellist</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
							</div>

							<!--
								<a class="callout palette-technicalart" target="_blank" href="https://www.gamesindustry.biz/technical-art-roles-what-they-are-and-how-to-get-one">
									<SvgSprite Link="/icons.svg?v=1#tabler--brush" Alt="Technical Art" />
									<h4>EGX 2023 Panellist<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h4>
									<ul class="textual-tags">
										<li class="textual-tag">'Technical art roles: What they are, and how to get one'</li>
									</ul>
								</a>
							-->
						</div>
					</div>
				</div>


				<div class="timeline">
					<a class="timeline-header" target="_blank" href="@explicitBaseUri/portfolio/outrage">
						<div class="timeline-header-icon">
							<picture>
								<img decoding="async" src="@Assets["media/companies/hardballgames/hardballgames-logo-filled.svg"]" alt="The logo for 'Hardball Games'.">
							</picture>
						</div>
						<div class="timeline-header-content">
							<div class="heading-row">
								<h3>Hardball Games<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h3>
								<h4>OutRage: Fight Fest</h4>
							</div>
							<div class="heading-row">
								<ul class="textual-tags">
									<Resume_Tag_Basis_FullTime />
									<Resume_Tag_Size_AA />
									<Resume_Tag_Duration Text="3 months" />
									<!--
										<Resume_Tag_Location Address="Middlesbrough, United Kingdom" />
										<Resume_Tag_Site_Hybrid />
									-->
								</ul>
								<ul class="textual-tags">
									<li class="textual-tag">
										<SvgSprite Link="/icons.svg?v=1#icon-steam" />
									</li>
									<Resume_Tag_Engine_Unity />
								</ul>
							</div>
						</div>
						<div class="timeline-header-media">
							<picture>
								<img decoding="async" src="@Assets["media/outrage/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'OutRage: Fight Fest'." />
							</picture>
						</div>
					</a>

					<div class="timeline-body">
						<div class="timeline-body-years">
						</div>
						<div class="timeline-body-content">
							<div class="callout palette-gameplay">
								<SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" />
								<div class="heading-row">
									<h4>Senior Gameplay Programmer</h4>
									<ul class="textual-tags">
										<Resume_Tag_Duration Text="April 2022 – June 2022" Short="2022" />
										<Resume_Tag_Span Text="3 mos" />
									</ul>
								</div>
							</div>

							<div class="capsule-tag-cloud">
								<a class="capsule-tag palette-gameplay" href="@explicitBaseUri/portfolio/outrage#throwing-props" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--pacman" Alt="Gameplay Programming" /><p>Environmental Combat</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-multiplayer" href="@explicitBaseUri/portfolio/outrage#deterministic-simulation" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--users-group" Alt="Multiplayer Programming" /><p>Deterministic Simulation</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
							</div>
						</div>
					</div>
				</div>


				<div class="timeline">
					<a class="timeline-header" target="_blank" href="@explicitBaseUri/portfolio/starcitizen">
						<div class="timeline-header-icon">
							<picture>
								<img decoding="async" src="@Assets["media/companies/cloudimperiumgames/cloudimperiumgames-logo-filled.svg"]" alt="The logo for 'Cloud Imperium Games'.">
							</picture>
						</div>
						<div class="timeline-header-content">
							<div class="heading-row">
								<h3>Cloud Imperium Games<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h3>
								<h4>Star Citizen</h4>
							</div>
							<div class="heading-row">
								<ul class="textual-tags">
									<Resume_Tag_Basis_FullTime />
									<Resume_Tag_Size_AAA />
									<Resume_Tag_Duration Text="1 years, 8 months" />
									<!--
										<Resume_Tag_Location Address="Wilmslow, United Kingdom" />
										<Resume_Tag_Site_Remote />
									-->
								</ul>
								<ul class="textual-tags">
									<li class="textual-tag">
										<SvgSprite Link="/icons.svg?v=1#icon-steam" />
									</li>
									<Resume_Tag_Engine_InHouse />
								</ul>
							</div>
						</div>
						<div class="timeline-header-media">
							<picture>
								<img decoding="async" src="@Assets["media/starcitizen/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'Star Citizen'." />
							</picture>
						</div>
					</a>

					<div class="timeline-body">
						<div class="timeline-body-years">
							<Resume_Year Year="2022" />
							<Resume_Year Year="2021" />
						</div>
						<div class="timeline-body-content">
							<div class="callout palette-tools">
								<SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" />
								<div class="heading-row">
									<h4>Tools Programmer</h4>
									<ul class="textual-tags">
										<Resume_Tag_Duration Text="September 2020 – April 2022" Short="2020 – 2022" />
										<Resume_Tag_Span Text="1 yr 8 mos" />
									</ul>
								</div>
							</div>

							<div class="capsule-tag-cloud">
								<a class="capsule-tag palette-backend" href="@explicitBaseUri/portfolio/starcitizen#asset-reference-database" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" /><p>Asset Reference Database</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/starcitizen#data-forge" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Data Editor</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/starcitizen#copy-build" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Install Manager</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/starcitizen#core-game-systems" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Core</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
							</div>
						</div>
					</div>
				</div>


				<div class="timeline">
					<a class="timeline-header" target="_blank" href="@explicitBaseUri/portfolio/legostarwarsbattles">
						<div class="timeline-header-icon">
							<picture>
								<img decoding="async" src="@Assets["media/companies/ttgames/logo.png"]" alt="The logo for 'TT Games'.">
							</picture>
						</div>
						<div class="timeline-header-content">
							<div class="heading-row">
								<h3>TT Games<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h3>
								<h4>LEGO® Star Wars™ Battles</h4>
							</div>
							<div class="heading-row">
								<ul class="textual-tags">
									<Resume_Tag_Basis_FullTime />
									<Resume_Tag_Size_AA />
									<Resume_Tag_Duration Text="2 years, 3 months" />
									<!--
										<Resume_Tag_Location Address="Brighton, United Kingdom" />
										<Resume_Tag_Site_OnSite />
									-->
								</ul>
								<ul class="textual-tags">
									<li class="textual-tag">
										<SvgSprite Link="/icons.svg?v=1#icon-applearcade" />
									</li>
									<Resume_Tag_Engine_Unity />
								</ul>
							</div>
						</div>
						<div class="timeline-header-media">
							<picture>
								<img decoding="async" src="@Assets["media/legostarwarsbattles/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'LEGO® Star Wars™ Battles'." />
							</picture>
						</div>
					</a>

					<div class="timeline-body">
						<div class="timeline-body-years">
							<Resume_Year Year="2020" />
							<Resume_Year Year="2019" />
						</div>
						<div class="timeline-body-content">
							<div class="callout palette-backend">
								<SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" />
								<div class="heading-row">
									<h4>Server Programmer</h4>
									<ul class="textual-tags">
										<Resume_Tag_Duration Text="May 2019 – September 2020" Short="2019 - 2020" />
										<Resume_Tag_Span Text="1 yr 5 mos" />
									</ul>
								</div>
							</div>
							<div class="callout palette-backend">
								<SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" />
								<div class="heading-row">
									<h4>Junior Server Programmer</h4>
									<ul class="textual-tags">
										<Resume_Tag_Duration Text="July 2018 – May 2019" Short="2018 - 2019" />
										<Resume_Tag_Span Text="11 mos" />
									</ul>
								</div>
							</div>

							<div class="capsule-tag-cloud">
								<a class="capsule-tag palette-backend" href="@explicitBaseUri/portfolio/legostarwarsbattles#leaderboards" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" /><p>Leaderboards</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-backend" href="@explicitBaseUri/portfolio/legostarwarsbattles#clans" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" /><p>Clans</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-backend" href="@explicitBaseUri/portfolio/legostarwarsbattles#username-moderation" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" /><p>Moderation</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-backend" href="@explicitBaseUri/portfolio/legostarwarsbattles#server-side-receipt-validation" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" /><p>IAP APIs</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-backend" href="@explicitBaseUri/portfolio/legostarwarsbattles#updates-and-data-delivery" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--server-2" Alt="Backend Engineering" /><p>Downloads</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
							</div>
						</div>
					</div>
				</div>


				<div class="timeline">
					<a class="timeline-header" target="_blank" href="@explicitBaseUri/portfolio/eitr">
						<div class="timeline-header-icon">
							<picture>
								<img decoding="async" src="@Assets["media/companies/enemeentertainment/enemeentertainment-logo-small.webp"]" alt="The logo for 'Eneme Entertainment'." style="image-rendering: pixelated; background-color: black;">
							</picture>
						</div>
						<div class="timeline-header-content">
							<div class="heading-row">
								<h3>Eneme Entertainment<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h3>
								<h4>EITR</h4>
							</div>
							<div class="heading-row">
								<ul class="textual-tags">
									<Resume_Tag_Basis_FullTime />
									<Resume_Tag_Size_Indie />
									<Resume_Tag_Duration Text="1 year, 1 month" />
									<!--
										<Resume_Tag_Location Address="London, United Kingdom" />
										<Resume_Tag_Site_Remote />
									-->
								</ul>
								<ul class="textual-tags">
									<li class="textual-tag">
										<SvgSprite Link="/icons.svg?v=1#icon-steam" />
										<SvgSprite Link="/icons.svg?v=1#icon-xbox" />
										<SvgSprite Link="/icons.svg?v=1#icon-playstation" />
									</li>
									<Resume_Tag_Engine_Unity />
								</ul>
							</div>
						</div>
						<div class="timeline-header-media">
							<picture>
								<img decoding="async" src="@Assets["media/eitr/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'LEGO® Star Wars™ Battles'." />
							</picture>
						</div>
					</a>

					<div class="timeline-body">
						<div class="timeline-body-years">
							<Resume_Year Year="2018" />
							<Resume_Year Year="2017" />
						</div>
						<div class="timeline-body-content">
							<div class="callout palette-systems">
								<SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" />
								<div class="heading-row">
									<h4>Systems Programmer</h4>
									<ul class="textual-tags">
										<Resume_Tag_Duration Text="July 2017 – July 2018" Short="2017 - 2018" />
										<Resume_Tag_Span Text="1 yr, 1 mo" />
									</ul>
								</div>
							</div>

							<div class="capsule-tag-cloud">
								<a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/eitr#inventories" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Inventories</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/eitr#items" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Items</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/eitr#achievements" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Achievements</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/eitr#input-mapping" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Input Mapping</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/eitr#stats" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Character Stats</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-systems" href="@explicitBaseUri/portfolio/eitr#tooltips" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Systems Engineering" /><p>Tooltips</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
								<a class="capsule-tag palette-tools" href="@explicitBaseUri/portfolio/eitr#skill-tree-editing" target="_blank"><SvgSprite Link="/icons.svg?v=1#tabler--tools" Alt="Tools Programming" /><p>Skill Tree Editor</p><SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
							</div>
						</div>
					</div>
				</div>

			</Page>

			<div class="section-page-below" data-nosnippet aria-hidden="true">
				<div class="section-page-below-left"><a href="/media/resume.pdf" target="_blank">resume-fydaravery-v5.1.2.pdf</a></div>
				<div class="section-page-below-right">Page <b>3</b> of <b>3</b></div>
			</div>
		</section>

		<!--
		<section class="page page-projects">

			<h2 id="education">Education</h2>

			<div class="timeline palette-northbrook">

				<div class="timeline-icon">
					<SvgSprite Link="/icons.svg?v=1#icon-northbrook-college" Alt="The logo for 'Northbrook College'." style="background-color: #DA3C10; color: #fff;" />
				</div>

				<div class="timeline-years">
					<div class="timeline-year">2018</div>
					<div class="timeline-year">2017</div>
					<div class="timeline-year">2016</div>
				</div>

				<div class="timeline-header">
					<h3>Northbrook College<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h3>

					<ul class="textual-tags">
						<Resume_Tag_Location Address="Worthing, United Kingdom" />
					</ul>
				</div>

				<a class="timeline-header-link" target="_blank" href="@explicitBaseUri/portfolio/northbrook"></a>

				<a class="callout" target="_blank" href="@explicitBaseUri/portfolio/northbrook#extended-diploma" style="margin-top: 16pt;">
					<SvgSprite Link="/icons.svg?v=1#icon-northbrook-college" Alt="Northbrook College" style="color: #DA3C10; width: 28pt; height: 28pt; left: 6pt; transform: translateY(-14pt);" />
					<h4>Extended Diploma in Games Development<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h4>
					<ul class="textual-tags">
						<Resume_Tag_Duration Text="2017 - 2018" />
						<li class="textual-tag">Distinction</li>
					</ul>
				</a>

				<div class="timeline-position-details">
					<p>It was towards the end of this course that I started my work at 'Eneme Entertainment' on the indie title 'EITR'.</p>
				</div>

				<a href="@explicitBaseUri/portfolio/thedwellers" target="_blank" class="timeline-media">
					<img decoding="async" src="@Assets["media/thedwellers/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'The Dwellers'." />
					<div class="timeline-media-body">
						<p class="timeline-media-body-name">The Dwellers<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
						<p class="timeline-media-body-description">A dungeon crawler with a powerful node-based editor for the RPG system.</p>
					</div>
				</a>

				<a href="@explicitBaseUri/portfolio/voxelmultiplayer" target="_blank" class="timeline-media">
					<img decoding="async" src="@Assets["media/voxelmultiplayer/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'Voxel Multiplayer'." />
					<div class="timeline-media-body">
						<p class="timeline-media-body-name">Voxel Multiplayer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
						<p class="timeline-media-body-description">Fully bespoke voxel rendering system to create a 'Cube World' style game with a multiplayer component.</p>
					</div>
				</a>

				<a class="callout palette-outoftheblue" target="_blank" href="@explicitBaseUri/portfolio/northbrook#summer" style="margin-top: 16pt;">
					<SvgSprite Link="/icons.svg?v=1#icon-outoftheblue" Alt="Out of the Blue Studios" style="color: #5378d8; width: 28pt; height: 28pt; left: 6pt; transform: translateY(-14pt);" />
					<h4>Summer Break<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h4>
					<ul class="textual-tags">
						<Resume_Tag_Duration Text="2017" />
						<li class="textual-tag">Out of the Blue Studios</li>
					</ul>
				</a>

				<div class="timeline-position-details">
					<p>Over the summer break, I joined up with a team to work on some collaborative projects.</p>
				</div>

				<a href="@explicitBaseUri/portfolio/lilypadleap" target="_blank" class="timeline-media">
					<img decoding="async" src="@Assets["media/lilypadleap/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'The Dwellers'." />
					<div class="timeline-media-body">
						<p class="timeline-media-body-name">Lilypad Leap<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
						<p class="timeline-media-body-description">A meditative and addictive game where you jump a frog across lily pads.</p>
					</div>
				</a>

				<a href="@explicitBaseUri/portfolio/astralswarm" target="_blank" class="timeline-media">
					<img decoding="async" src="@Assets["media/astralswarm/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'Voxel Multiplayer'." />
					<div class="timeline-media-body">
						<p class="timeline-media-body-name">Astral Swarm<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
						<p class="timeline-media-body-description">Battle endless swarms of enemy space ships across the galaxy.</p>
					</div>
				</a>

				<a class="callout" target="_blank" href="@explicitBaseUri/portfolio/northbrook#diploma" style="margin-top: 16pt;">
					<SvgSprite Link="/icons.svg?v=1#icon-northbrook-college" Alt="Northbrook College" style="color: #DA3C10; width: 28pt; height: 28pt; left: 6pt; transform: translateY(-14pt);" />
					<h4>Diploma in Games Development<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></h4>
					<ul class="textual-tags">
						<Resume_Tag_Duration Text="2016 - 2017" />
						<li class="textual-tag">Distinction</li>
					</ul>
				</a>

				<div class="timeline-position-details">
					<p>I joined this course with a strong understanding of game development and programming from my hobbyist experience. This course offered me the freedom to explore programming concepts at my speed. I also had the opportunity to learn the fundamentals of 2D and 3D art.</p>

					<p>I became familiar with 3DS Max which became my tool of choice. This benefited my understanding of 3D graphics greatly. The 3D artistry later inspired my exploration of Substance Designer and other tech art tools.</p>
				</div>

				<a href="@explicitBaseUri/portfolio/thenewearthconflict" target="_blank" class="timeline-media">
					<img decoding="async" src="@Assets["media/thenewearthconflict/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'The New Earth Conflict'." />
					<div class="timeline-media-body">
						<p class="timeline-media-body-name">The New Earth Conflict<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
						<p class="timeline-media-body-description">A realtime space strategy game where the player takes the pilot seat of a battleship.</p>
					</div>
				</a>

				<a href="@explicitBaseUri/portfolio/cryptcrawl" target="_blank" class="timeline-media">
					<img decoding="async" src="@Assets["media/cryptcrawl/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'Crypt Crawl'." />
					<div class="timeline-media-body">
						<p class="timeline-media-body-name">Crypt Crawl<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
						<p class="timeline-media-body-description">A pixel art dungeon crawler with dungeon textures generated in Substance Designer.</p>
					</div>
				</a>
			</div>
		</section>

		<section class="page page-experience">

			<h2 id="game-jams">Game Jams</h2>

			<div class="timeline">

				<div class="timeline-icon" style="background-color: #aec159; padding: 4pt; border-radius: 2pt;">
					<SvgSprite Link="/icons.svg?v=1#icon-gbjam" Alt="The logo for 'GBJAM'." />
				</div>

				<div class="timeline-header">
					<h3>GBJAM 8</h3>
					<ul class="textual-tags">
						<Resume_Tag_Duration Text="September 2022" />
						<li class="textual-tag">1 week</li>
						<li class="textual-tag">Solo</li>
					</ul>
				</div>

				<div class="timeline-position-details">
					<p>I can't remember why I finally decided on the project idea, but once I did, the first thing I made was a <b>shader</b> that could emulate the style and feel of a Game Boy game. I then used <b>Pyxel Edit</b> to create the pixel art tilesets used for the character, terrain, and mining minigame. </p>

					<p>I especially enjoyed creating the <b>procedural generation</b> systems to firstly create the maps and then scatter minable resources underneath the rock. I created the entire game using a single entrypoint, as opposed to the <b>Unity</b> component based <b>IoC</b> (inversion of control).</p>
				</div>

				<a href="@explicitBaseUri/portfolio/miniminer" target="_blank" class="timeline-media">
					<img decoding="async" src="@Assets["media/miniminer/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'Mini Miner'." />
					<div class="timeline-media-body">
						<p class="timeline-media-body-name">Mini Miner<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
						<p class="timeline-media-body-description">The Game Boy demake of the Nintendo DS <i>Pokémon Diamond and Pearl</i> underground mining minigame.</p>
					</div>
				</a>

			</div>


			<div class="timeline">

				<div class="timeline-icon">
					<SvgSprite Link="/icons.svg?v=1#icon-ludumdare" Alt="The logo for 'Ludum Dare'." />
				</div>

				<div class="timeline-header">
					<h3>Ludum Dare 46 Compo</h3>
					<ul class="textual-tags">
						<Resume_Tag_Duration Text="April 2020" />
						<li class="textual-tag">48 hours</li>
						<li class="textual-tag">Solo</li>
					</ul>
				</div>

				<div class="timeline-position-details">
					<p>Upon hearing the theme 'Keep it alive' I immediately recalled my days playing the "Healer" in MMORPG raids and wanted to create a UI-only version of my experiences.</p>

					<p>I also explored new scripting methods to create <b>abilities</b> in RPG games, as I wanted to be able to create a system that would allow me to add multiple unique ways of healing your allies.</p>

					<p>I'm very proud of the overall experience, primarily because of it’s difficulty. It may take several playthroughs to complete, but it is doable once you know what you are down.</p>
				</div>

				<a href="@explicitBaseUri/portfolio/raidhealersimulator" target="_blank" class="timeline-media">
					<img decoding="async" src="@Assets["media/raidhealersimulator/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'Raid Healer Simulator'." />
					<div class="timeline-media-body">
						<p class="timeline-media-body-name">Raid Healer Simulator<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
						<p class="timeline-media-body-description">The simulation experience of what it’s like to be a healer in an MMORPG raid, complete with a variety of abilities and a challenging boss battle.</p>
					</div>
				</a>

			</div>


			<div class="timeline">

				<div class="timeline-icon" style="background-color: #13171a; padding: 8pt; border-radius: 2pt;">
					<SvgSprite Link="/icons.svg?v=1#icon-astralelites" Alt="The logo for 'Astral Elites'." />
				</div>

				<div class="timeline-header">
					<h3>Asteroids Clone</h3>
					<ul class="textual-tags">
						<Resume_Tag_Duration Text="July 2018" />
						<li class="textual-tag">8 hours</li>
						<li class="textual-tag">Solo</li>
					</ul>
				</div>

				<div class="timeline-position-details">
					<p>For this Asteroids clone, the first thing I implemented was <b>procedurally generated asteroid meshes</b>. I then utilised Unity’s 2D physics engine to fling those asteroids into the centre of the arena.</p>

					<p>After the code test concluded, I added Discord integration via the <b>Discord SDK</b>.</p>
				</div>

				<a href="@explicitBaseUri/portfolio/astralelites" target="_blank" class="timeline-media">
					<img decoding="async" src="@Assets["media/astralelites/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'Astral Elites'." />
					<div class="timeline-media-body">
						<p class="timeline-media-body-name">Astral Elites<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
						<p class="timeline-media-body-description">The physics-based and fast-paced asteroid clone for the modern era, complete with Discord integration.</p>
					</div>
				</a>

			</div>

		</section>
		-->
		<!--
		<section class="page page-experience">

			<div class="timeline">

				<div class="timeline-icon" style="background-color: #252260; padding: 6pt; border-radius: 50%;">
					<SvgSprite Link="/icons.svg?v=1#icon-globalgamejam" Alt="The logo for 'Global Game Jam'." />
				</div>

				<div class="timeline-header">
					<h3>Global Game Jam</h3>
					<p class="subtitle3">Once Annually · 48 hours</p>
				</div>

				<div class="callout palette-magenta">
					<h4>Global Game Jam 2021</h4>
					<p class="subtitle2">January 2021 · Themed 'Lost and Found' · Solo</p>
				</div>

				<div class="timeline-position-details">
					<p>I was inspired by <b>Agar.io</b> and other in-browser multiplayer games create my own ".io" style game. To do so, I used <b>Blazor WebAssembly</b> to create a realtime game client that connects to an <b>ASP.NET Core</b> server via <b>WebSockets</b>.</p>
				</div>

				<a href="@explicitBaseUri/portfolio/pewpew" target="_blank" class="timeline-media">
					<img decoding="async" src="@Assets["media/pewpew/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'Pew Pew'." />
					<div class="timeline-media-body">
						<p class="timeline-media-body-name">Pew Pew</p>
						<p class="timeline-media-body-description">Coordinate with your team in a multiplayer space-shooter.</p>
					</div>
				</a>

				<div class="callout palette-magenta">
					<h4>Global Game Jam 2020</h4>
					<p class="subtitle2">January 2020 · Themed 'Repair' · Team of 3</p>
				</div>

				<div class="timeline-position-details">
					<p>For this Global Game Jam, I decided to meet up with some co-workers from TT Games. We were inspired by games like <a href="https://littlealchemy.com/">'Little Alchemy'</a> where the player has to combine elements together to discover new elements, and <a href="https://www.nintendo.co.uk/Games/Nintendo-Switch-games/Animal-Crossing-New-Horizons-1438623.html">'Animal Crossing: New Horizons'</a> to create a game where you create the life to populate a desolate world.</p>

					<p>We worked in <b>Unity</b>, where I created the <b>inventory</b>, <b>crafting</b>, and <b>world interaction</b> systems, along with the shader to warp the world over the horizon.</p>
				</div>

				<a href="@explicitBaseUri/portfolio/snoot" target="_blank" class="timeline-media">
					<img decoding="async" src="@Assets["media/snoot/capsule_350x200.webp"]" alt="Landscape promotional material for the game 'Snoot'." />
					<div class="timeline-media-body">
						<p class="timeline-media-body-name">Snoot</p>
						<p class="timeline-media-body-description">Restore life to a desolate world by exploring a sandbox of crafting recipes. On your adventure you will bring rain, grass, bugs, birds, and bees.</p>
					</div>
				</a>

				<div class="callout palette-magenta">
					<h4>Global Game Jam 2019</h4>
					<p class="subtitle2">January 2019 · Themed 'Home' · Team of 6</p>
				</div>

				<div class="timeline-position-details">
					<p>For this Global Game Jam, I connect with a team of developers from all over the industry. After a chaotic and fun ideas generation session, we decided to make a game that emulates the experience of digging around in the cracks of your sofa.</p>

					<p>I implemented a <b>tutorial system</b> to introduce the players to the mechanics and a <b>dialogue system</b> that would guide players through the interactive experience.</p>
				</div>

				<a href="@explicitBaseUri/portfolio/sofarfromhome" target="_blank" class="timeline-media">
					<img decoding="async" src="@Assets["media/sofarfromhome/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'So Far from Home'." />
					<div class="timeline-media-body">
						<p class="timeline-media-body-name">So Far from Home</p>
						<p class="timeline-media-body-description">Searching between the sofa cushions for a missing key, but what else is down there? Uncover memories from a time well spent.</p>
					</div>
				</a>

				<div class="callout palette-magenta">
					<h4>Global Game Jam 2018</h4>
					<p class="subtitle2">January 2018 · Themed 'Transmission' · Team of 5</p>
				</div>

				<div class="timeline-position-details">
					<p>For this Global Game Jam, I went to the Unity office in Brighton and formed a team. This was my first game jam in a team, and it’s an experience I will never forget. We decided to create a game where the player would remote control a drone via a the space station CCTV system.</p>

					<p>I implemented the <b>character controller</b>, <b>camera controllers</b>, <b>glitching UI</b>, and <b>transitions between cameras</b>.</p>
				</div>

				<a href="@explicitBaseUri/portfolio/lostinstatic" target="_blank" class="timeline-media">
					<img decoding="async" src="@Assets["media/lostinstatic/capsule_350x200.jpg"]" alt="Landscape promotional material for the game 'Lost in Static'." />
					<div class="timeline-media-body">
						<p class="timeline-media-body-name">Lost in Static</p>
						<p class="timeline-media-body-description">As an evil AI runs rampant on a space station, it is up to you to control a drone capable of shutting her down.</p>
					</div>
				</a>

			</div>
		</section>
		-->
	</div>
</article>
