@layout DefaultLayout
@page "/portfolio/gameplay"
@{
    var openGraphModel = new OpenGraphModel()
    {
        Title = "Gameplay Programming - Fydar",
        Description = "A collection of gameplay I've developed.",
        CanonicalUrl = "https://fydar.dev/portfolio/gameplay",
        Properties = [
            new OpenGraphModelImage()
            {
                Url = "https://fydar.dev/media/header.webp",
                Alt = "A portrait of Fydar in an anime art style."
            }
        ]
    };
    var linkData = new LinkData()
    {
        new LinkDataBreadcrumbList()
        {
            new LinkDataBreadcrumbListItem()
            {
                Name = "Portfolio",
                Item = "https://fydar.dev/portfolio"
            },
            new LinkDataBreadcrumbListItem()
            {
                Name = "Gameplay Programming",
                Item = "https://fydar.dev/portfolio/gameplay"
            }
        }
    };
}

<HeadContent>
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<article class="page-gameplay">
    <div class="container">
        <Block_ArticleHeader>
            <h1 data-nosnippet>Gameplay Engineering</h1>
        </Block_ArticleHeader>

        <Block_ArticleOutlined>
            <Sidebar>
                <aside>
                    <Block_TableOfContents />
                </aside>
            </Sidebar>
            <Content>
                <OutlineSection Id="professional" LinkName="Professional">
                    <Block_ArticleHeading>
                        <h2>Professional</h2>
                    </Block_ArticleHeading>

                    <p>Throughout my career I have always been able to rely on my gameplay programming.</p>

                    <Block_CoverGrid>

                        <CoverDate Date="2024">
                            <Cover_UNO />
                        </CoverDate>

                        <CoverDate Date="2022">
                            <Cover_Outrage />
                        </CoverDate>

                        <CoverDate Date="2018">
                            <Cover_Eitr />
                        </CoverDate>

                    </Block_CoverGrid>
                </OutlineSection>

                <OutlineSection Id="documentation" LinkName="Hobbyist">
                    <Block_ArticleHeading>
                        <h2>Hobbyist</h2>
                    </Block_ArticleHeading>

                    <p>Although I haven't always been a gameplay programmer, that doesn't stop me from doing it! I'm always working on personal projects or game jams.</p>

                    <p>Many of my game jam projects are playable in-browser at my <a href="play">Play Hub</a>.</p>

                    <AppIconGrid>
                        <AppIcon href="/play/astralswarm" Link="/icons.svg?v=1#icon-astralswarm" Hue="0deg" />
                        <AppIcon href="/play/astralelites" Link="/icons.svg?v=1#icon-astralelites" Hue="30deg" />
                        <AppIcon href="/play/miniminer" Link="/icons.svg?v=1#icon-miniminer" Hue="120deg" />
                        <AppIcon href="/play/lilypadleap" Link="/icons.svg?v=1#icon-lilypadleap" Hue="110deg" />
                        <AppIcon href="/play/raidhealersimulator" Link="/icons.svg?v=1#icon-raidhealersimulator" Hue="100deg" />
                        <AppIcon href="/play/snoot" Link="/icons.svg?v=1#icon-snoot" Hue="50deg" />
                        <AppIcon href="/play/cakedodge" Link="/icons.svg?v=1#icon-cakedodge" Hue="230deg" />
                        <AppIcon href="/play/thedwellers" Link="/icons.svg?v=1#icon-thedwellers" Hue="180deg" />
                        <AppIcon href="/play/thenewearthconflict" Link="/icons.svg?v=1#icon-thenewearthconflict" Hue="150deg" />
                        <AppIcon href="/play/lostblues" Link="/icons.svg?v=1#icon-lostblues" Hue="200deg" />
                        <AppIcon href="/play/roadtonorthstead" Link="/icons.svg?v=1#icon-roadtonorthstead" Hue="50deg" />
                    </AppIconGrid>

                    <Block_CardGrid>
                        <Card>
                            <a class="card__link" href="/portfolio/miniminer">Mini Miner</a>
                            <picture>
                                <img class="card__image" decoding="async" loading="lazy" width="640" height="480" src="@Assets["media/miniminer/card.webp"]" alt="Preview of the game 'Mini Miner' showing a puzzle." />
                            </picture>
                            <div class="container">
                                <header>
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-miniminer" />
                                    <h3>Mini Miner</h3>
                                </header>
                                <Block_PillCloud>
                                    <div class="pill palette-gameboy"><SvgSprite Link="/icons.svg?v=1#icon-gbjam" Alt="GBJam 8" />GBJam 8</div>
                                </Block_PillCloud>
                                <p>The Game Boy demake of the Nintendo DS <i>Pokémon Diamond and Pearl</i> underground mining minigame.</p>
                            </div>
                        </Card>
                        <Card>
                            <a class="card__link" href="/portfolio/astralelites">Astral Elites</a>
                            <SvgSprite class="card__image" Link="/icons.svg?v=1#illustration-astralelites" alt="Preview of the game 'Astral Elites' with a spaceship flying around and destroying asteroids." />
                            <div class="container">
                                <header>
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-astralelites" />
                                    <h3>Astral Elites</h3>
                                </header>
                                <Block_PillCloud>
                                    <div class="pill palette-systems"><SvgSprite Link="/icons.svg?v=1#tabler--settings" Alt="Code Test" />Code Test</div>
                                </Block_PillCloud>
                                <p>The physics-based and fast-paced asteroid clone for the modern era.</p>
                            </div>
                        </Card>
                        <Card>
                            <a class="card__link" href="/portfolio/raidhealersimulator">Raid Healer Simulator</a>
                            <picture>
                                <img class="card__image" decoding="async" loading="lazy" width="400" height="300" src="@Assets["media/raidhealersimulator/card.webp"]" alt="Preview of the Raid Healer Simulator game." />
                            </picture>
                            <div class="container">
                                <header>
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-raidhealersimulator" />
                                    <h3>Raid Healer Simulator</h3>
                                </header>
                                <Block_PillCloud>
                                    <div class="pill palette-ludumdare-compo"><SvgSprite Link="/icons.svg?v=1#icon-ludumdare" Alt="Ludum Dare 46 Compo" />Ludum Dare 46 Compo</div>
                                </Block_PillCloud>
                                <p>The UI-only simulator of the raid healer experience featuring verbal abuse.</p>
                            </div>
                        </Card>
                        <Card>
                            <a class="card__link" href="/portfolio/snoot">Snoot</a>
                            <picture>
                                <img class="card__image" decoding="async" loading="lazy" width="400" height="300" src="@Assets["media/snoot/keyart-4x3-400x300.webp"]" alt="Preview of the game 'Snoot' featuring the protagonist in the world with signs of life." />
                            </picture>
                            <div class="container">
                                <header>
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-snoot" />
                                    <h3>Snoot</h3>
                                </header>
                                <Block_PillCloud>
                                    <div class="pill palette-globalgamejam"><SvgSprite Link="/icons.svg?v=1#icon-globalgamejam" Alt="Global Game Jam 2020" />Global Game Jam 2020</div>
                                </Block_PillCloud>
                                <p>The cute crafting game to restore nature and life to the world.</p>
                            </div>
                        </Card>
                        <Card>
                            <a class="card__link" href="/portfolio/thenewearthconflict">The New Earth Conflict</a>
                            <picture>
                                <img class="card__image" decoding="async" loading="lazy" width="640" height="480" src="@Assets["media/thenewearthconflict/card.webp"]" alt="A preview of the game 'The New Earth Conflict' featuring the player ship engaging in combat." />
                            </picture>
                            <div class="container">
                                <header>
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-thenewearthconflict" />
                                    <h3>The New Earth Conflict</h3>
                                </header>
                                <Block_PillCloud>
                                    <div class="pill palette-northbrook"><SvgSprite Link="/icons.svg?v=1#icon-northbrook-college" Alt="Northbrook" />Northbrook</div>
                                </Block_PillCloud>
                                <p>A realtime space battle where you take control over a battleship and pilot it into battle against an AI team.</p>
                            </div>
                        </Card>
                        <Card>
                            <a class="card__link" href="/portfolio/thedwellers">The Dwellers</a>
                            <picture>
                                <img class="card__image" decoding="async" loading="lazy" width="640" height="480" src="@Assets["media/thedwellers/card.webp"]" alt="Preview of the game 'The Dwellers'" />
                            </picture>
                            <div class="container">
                                <header>
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-thedwellers" />
                                    <h3>The Dwellers</h3>
                                </header>
                                <Block_PillCloud>
                                    <div class="pill palette-northbrook"><SvgSprite Link="/icons.svg?v=1#icon-northbrook-college" Alt="Northbrook" />Northbrook</div>
                                </Block_PillCloud>
                                <p>A 3D dungeon crawler game demo with a full RPG item system, featuring a wide range of weapons and other equipment.</p>
                            </div>
                        </Card>
                    </Block_CardGrid>
                </OutlineSection>
            </Content>
        </Block_ArticleOutlined>
    </div>
</article>
